<div class="container">
    <table class="table table-sm">
        <thead>
        <tr>
            <th>{{ name }}</th>
            <th># of makers</th>
        </tr>
        </thead>
        <tbody>
        {% for a, b in data %}
            <tr>
                <td>{{ a }}</td>
                <td>{{ b }} ({{ (b / total * 100)|number_format("2") }}%)</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
