{% extends 'base.html.twig' %}

{% block body %}
    <h1>Countries</h1>
    {% include 'frontend/statistics/_data_table.html.twig' with { 'data': countries, 'name': 'Country' } %}
    <h1>Styles</h1>
    {% include 'frontend/statistics/_data_table.html.twig' with { 'data': styles, 'name': 'Style' } %}
    <h2>Other styles</h2>
    {% include 'frontend/statistics/_item_pills.html.twig' with { 'items': otherStyles } %}
    <h1>Order types</h1>
    {% include 'frontend/statistics/_data_table.html.twig' with { 'data': types, 'name': 'Order type' } %}
    <h2>Other order types</h2>
    {% include 'frontend/statistics/_item_pills.html.twig' with { 'items': otherTypes } %}
    <h1>Features</h1>
    {% include 'frontend/statistics/_data_table.html.twig' with { 'data': features, 'name': 'Feature' } %}
    <h2>Other features</h2>
    {% include 'frontend/statistics/_item_pills.html.twig' with { 'items': otherFeatures } %}
{% endblock %}
