{% extends 'base.html.twig' %}

{% block body %}
    <p>
        Take me to:
        <a href="#styles">styles</a> (<a href="#other_styles">other</a>) &bull;
        <a href="#types">order types</a> (<a href="#other_types">other</a>) &bull;
        <a href="#features">features</a> (<a href="#other_features">other</a>) &bull;
        <a href="#data-statistics">data statistics</a>
    </p>

    <h1>Commission status</h1>
    {% include 'frontend/statistics/_data_table.html.twig' with { 'data': commissionsStats, 'name': '', total: commissionsStats.Total } %}

    <p>
        <a data-toggle="collapse" href="#cstExplain" role="button" aria-expanded="false" aria-controls="cstExplain">
            Explain above
        </a>
    </p>
    <div class="collapse pb-4" id="cstExplain">
        <div class="card card-body pb-0">
            <dl class="row">
                <dt class="col-sm-2">Open</dt>
                <dd class="col-sm-10">Number of fursuit makers not closed for commissions</dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-2">Closed</dt>
                <dd class="col-sm-10">Number of fursuit makers not open for commissions</dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-2">Tracked</dt>
                <dd class="col-sm-10">
                    Number of fursuit makers which commissions status is tracked automatically (the database contains
                    link to a page, which the getfursu.it software checks periodically to determine if the maker
                    is open for commissions or not). See <a href="{{ path('info') }}">here</a> for more info
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-2">Successfully tracked</dt>
                <dd class="col-sm-10">
                    Number of fursuit makers which commissions status is tracked automatically, and the software
                    is actually able to determine the status. See <a href="{{ path('info') }}">here</a> for more info
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-2">Total</dt>
                <dd class="col-sm-10">Ain't the weather lovely today?</dd>
            </dl>
        </div>
    </div>

    <h1>Countries</h1>
    {% include 'frontend/statistics/_data_table.html.twig' with { data: countries, name: 'Country', total: commissionsStats.Total } %}

    <h1 id="styles">Styles</h1>
    {% include 'frontend/statistics/_data_table.html.twig' with { data: styles, name: 'Style', total: commissionsStats.Total } %}

    <h2 id="other_styles">Other styles</h2>
    {% include 'frontend/statistics/_item_pills.html.twig' with { items: otherStyles } %}

    <h1 id="types">Order types</h1>
    {% include 'frontend/statistics/_data_table.html.twig' with { data: types, name: 'Order type', total: commissionsStats.Total } %}

    <h2 id="other_types">Other order types</h2>
    {% include 'frontend/statistics/_item_pills.html.twig' with { items: otherTypes } %}

    <h1 id="features">Features</h1>
    {% include 'frontend/statistics/_data_table.html.twig' with { data: features, name: 'Feature', total: commissionsStats.Total } %}

    <h2 id="other_features">Other features</h2>
    {% include 'frontend/statistics/_item_pills.html.twig' with { items: otherFeatures } %}

    <h1 id="data-statistics">Data statistics</h1>
    {% include 'frontend/statistics/_data_table.html.twig' with { data: completeness, name: 'Data completeness', total: commissionsStats.Total } %}

    {% include 'frontend/statistics/_data_table.html.twig' with { data: providedInfo, name: 'Information provided', total: commissionsStats.Total } %}
{% endblock %}
