---
security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        # used to reload user from session & other features (e.g. switch_user)
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email
    firewalls:
        dev:
            # Ensure dev tools and static assets are always allowed
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false
        main:
            lazy: true
            provider: app_user_provider
            login_throttling:
                max_attempts: 3
            form_login:
                login_path: !php/const App\ValueObject\Routing\RouteName::USER_LOGIN
                check_path: !php/const App\ValueObject\Routing\RouteName::USER_LOGIN
                enable_csrf: true
            logout:
                path: !php/const App\ValueObject\Routing\RouteName::USER_LOGOUT
                # where to redirect after logout
                target: !php/const App\ValueObject\Routing\RouteName::USER_MAIN

            # Activate different ways to authenticate:
            # https://symfony.com/doc/current/security.html#the-firewall

            # https://symfony.com/doc/current/security/impersonating_user.html
            # switch_user: true

    # Note: Only the *first* matching rule is applied
    access_control:
        # TODO: I *think* I saw 403 instead of redirect to login page?
        - { path: ^/uuser, roles: ROLE_USER } # grep-code-route-uuser-prefix
        - { path: ^/user, roles: ROLE_VERIFIED } # grep-code-route-user-prefix
        - { path: ^/mx, roles: ROLE_ADMIN } # Administration

when@test:
    security:
        password_hashers:
            # Password hashers are resource-intensive by design to ensure security.
            # In tests, it's safe to reduce their cost to improve performance.
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon
