<div id="checklist-container" class="card bg-light mb-3">
    <div class="card-header">
        Hold your horses! ...and canines, felines, birds, etc. Hold all of them.
    </div>
    <div class="card-body">
        <h5 class="card-title">
            <strong class="text-danger">Don't get scammed!</strong> Fursuit stuff isn't cheap, and you don't want to lose the precious money you've been saving
        </h5>

        <p class="card-text">
            This tool serves for finding a maker/<wbr>studio which will best match your expectations. It can save
            you some time on searching. What it can't do for you - <strong>which means you must do that
                yourself</strong> - is to verify the legitimacy of the maker/<wbr>studio you want to commission.
            When you decide on the maker/<wbr>studio, <strong>PLEASE</strong>:
        </p>
        <ul class="card-text">
            <li>Ask on social media/<wbr>groups/<wbr>forums if someone had prior experience working with the maker/<wbr>studio</li>
            <li>Check if they have any reviews on <a href="https://fursuitreview.com/" target="_blank">FursuitReview</a></li>
            <li>Check if they've been listed on <a href="https://artistsbeware.info/" target="_blank">Artists Beware</a> (<a href="https://bewares.getfursu.it/" target="_blank">alternate search tool</a>)</li>
        </ul>
        <p class="card-text">
            You can read a bit more on the topic under <i>Buying a custom fursuit carries a substantial risk</i>
            section of this article: <a href="https://fursuitreview.com/blog/buying-a-fursuit-is-a-fursuit-right-for-you/" target="_blank">Buying a Fursuit: Is a Fursuit Right For You?</a>
        </p>
        <div class="card-text">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checklist-ill-be-careful" />
                <label class="form-check-label" for="checklist-ill-be-careful">
                    I'll be careful, I promise!
                </label>
            </div>
        </div>

        <div class="card-text" id="checklist-pros-and-cons-container">
            <hr />

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checklist-ack-pros-and-cons" />
                <label class="form-check-label" for="checklist-ack-pros-and-cons">
                    I acknowledge that <strong>it's a very good idea to learn about pros&amp;cons of getting a fursuit</strong> by reading the whole article: <a target="_blank" href="https://fursuitreview.com/blog/buying-a-fursuit-is-a-fursuit-right-for-you/">Buying a Fursuit: Is a Fursuit Right For You?</a>, because I am not getting my fursuit today, nor tomorrow, and probably nor the next several weeks. Several minutes of reading won't change a thing.
                </label>
            </div>
        </div>

        <div class="card-text" id="checklist-age-container">
            <hr />

            <div class="form-check">
                <input class="form-check-input" type="radio" name="checklistIsAdult" id="aasImNotAdult" value="NO" />
                <label class="form-check-label" for="aasImNotAdult">
                    I am under 18 years old, and I need a maker who accepts commissions from underage people.
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="checklistIsAdult" id="aasImAdult" value="YES" />
                <label class="form-check-label" for="aasImAdult">
                    I am at least 18 years old. I agree that laying about my age would be a stupid idea with consequences, up to getting banned from commissioning my beloved fursuit maker, ever.
                </label>
            </div>
        </div>

        <div class="card-text" id="checklist-wants-sfw-container">
            <hr />

            <div class="form-check">
                <input class="form-check-input" type="radio" name="checklistWantsSfw" id="aasKeepSfw" value="YES" />
                <label class="form-check-label" for="aasKeepSfw">
                    Even though I am an adult, I prefer my experience to remain 100% SFW.
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="checklistWantsSfw" id="aasAllowNsfw" value="NO" />
                <label class="form-check-label" for="aasAllowNsfw">
                    I may not be interested in such, but I don't mind running into NSFW stuff on some websites.
                </label>
            </div>
        </div>

        <div class="card-text">
            <hr />

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checklist-i-like-buttons" />
                <label class="form-check-label" for="checklist-i-like-buttons">
                    I like clicking buttons (optional)
                </label>
            </div>
        </div>

        <p class="card-text text-end">
            <input type="button" id="checklist-dismiss-btn" class="btn" value="" />
        </p>
    </div>
</div>
