<div id="scam-risk-warning" class="card bg-light mb-3">
    <div class="card-header">
        Don't get scammed!
    </div>
    <div class="card-body">
        <h5 class="card-title">
            Fursuit stuff isn't cheap and you don't want to lose the precious money you've been saving
        </h5>
        <p class="card-text">
            This tool serves for finding a maker/<wbr>studio which will best match your expectations. It can save
            you some time on searching. What it can't do for you - <strong>which means you must do that
                yourself</strong> - is to verify the legitimacy of the maker/<wbr>studio you want to commission.
            When you decide on the maker/<wbr>studio, <strong>PLEASE</strong>:
        </p>
        <ul class="card-text">
            <li>Ask on social media/<wbr>groups/<wbr>forums if someone had prior experience working with the maker/<wbr>studio</li>
            <li>Check if they have any reviews on <a href="https://fursuitreview.com/" target="_blank">FursuitReview</a></li>
            <li>Check if they've been listed on <a href="https://artistsbeware.info/" target="_blank">Artists Beware</a> (<a href="https://bewares.getfursu.it/" target="_blank">alternate search tool</a>)</li>
        </ul>
        <p class="card-text">
            You can read a bit more on the topic under <i>Buying a custom fursuit carries a substantial risk</i>
            section of this article: <a href="https://fursuitreview.com/blog/buying-a-fursuit-is-a-fursuit-right-for-you/" target="_blank">Buying a Fursuit: Is a Fursuit Right For You?</a>
        </p>
        <p class="card-text text-end">
            <a href="#" id="scam-risk-acknowledgement" class="btn btn-danger">I'll be careful, I promise!</a>
        </p>
    </div>
</div>
