{% if submitted %}
    <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#iu_form_instructions_container">Toggle instructions</button>
{% endif %}

<div id="iu_form_instructions_container" {% if submitted %}class="collapse"{% endif %}>
    <div class="card my-4">
        <div class="card-body">
            <h5 class="card-title text-danger">Please don't rush</h5>
            <p class="card-text">
                You don't want your information to be inaccurate/incomplete. Reserve some time for filling this. Grab your favorite beverage. This form can wait. I am aware of the fact that this form is long as hecc. But you can't say your business is a trivial thing, can you? Please start with the second suggestion: <em>Please first read the whole thing, then fill in</em>.
            </p>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-danger">Please first read the whole thing, then fill in</h5>
                    <p class="card-text">
                        Yes, I'm serious. I suggest to first take a look at the whole questionnaire and start filling from the start after getting familiar with what information goes where. You'll avoid repeating yourself and/or confusing your potential customers. You will also be able to tell how much time filling all of this will take.
                    </p>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-warning">Avoid using a smartphone/tablet</h5>
                    <p class="card-text">
                        I strongly suggest filling this up using a computer/laptop! Mobile devices made enough weird stuff here and will take away any comfort possible. Don't make your life hard! This form can wait.
                    </p>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">I may take stuff literally</h5>
                    <p class="card-text">
                        If you make a typo or e.g. spell your name lowercase, that's how it will end up on the site. Later correction is possible though, so no need to panic.
                    </p>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Expect changes</h5>
                    <p class="card-text">
                        Please note, that getfursu.it is still in development. Changes will happen, and there will be probably even more data gathered in the future. Not all data you put here will be available on the website immediately - some might be kept for the future.
                    </p>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Help needed? Problem with the form? Anything ambiguous?</h5>
                    <p class="card-text">
                        In case of any questions/issues, feel free to <a href="{{ path('info', { _fragment: 'contact' }) }}" target="_blank">contact me</a>!
                    </p>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Feedback is welcome</h5>
                    <p class="card-text">
                        In case you have any remarks, please add them to <em>notes</em> at the end. This is important. This will help you in properly advertising your studio and will help me improve the website. Thank you!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title text-danger">Privacy</h5>
            <p class="card-text">
                <strong>All</strong> the information you put in here will be available <strong>publicly</strong>, either directly through the getfursu.it website or through its sources (<a href="https://github.com/veelkoov/fuzzrake-data/blob/master/artisans.sql" target="_blank">GitHub, the IT stuff</a>). There are exceptions, marked like this: <span class="badge bg-warning text-dark">PRIVATE</span>
            </p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Information: required, important, recommended, optional</h5>
            <div class="card-text">
                <div class="mandatory d-inline-block">
                    Fields marked like this must be filled in.
                </div>
                <div class="important d-inline-block">
                    Avoid skipping fields marked like this.
                </div>
                <div class="recommended d-inline-block">
                    It's recommended to fill fields marked this way.
                </div>
                <div class="d-inline-block">
                    Other fields are 100% optional.
                </div>
            </div>
        </div>
    </div>
</div>
