parameters:
  level: 9
  paths:
    - src
    - tests

  doctrine:
    objectManagerLoader: tests/object-manager.php
  symfony:
    consoleApplicationLoader: tests/console-application.php

  typeAliases:
    psFieldValue:              'App\DataDefinitions\Ages|App\DataDefinitions\ContactPermit|DateTimeImmutable|list<string>|string|int|bool|null'
    psJsonFieldValue:          'list<string>|string|int|bool|null'
    psArtisanStatsArray:       'array{open_for_anything: int, closed_for_anything: int, successfully_tracked: int, partially_tracked: int, tracking_failed: int, tracking_issues: int, tracked: int, total: int}'

    psSubspecies:              'null|array<string, psNextLevelSubspecies>'
    psNextLevelSubspecies:     'null|array<string, mixed>' # No recursion allowed, use mixed

    psFixerConfig:             'array{replacements: array<string, string>, regex_prefix: string, regex_suffix: string}'
    psLanguagesFixerConfig:    'array{replacements: array<string, string>, regex_prefix: string, regex_suffix: string, regexp: string}'

    psTrackerRegexes:          'array{false_positives: list<string>, offers_statuses: list<string>, placeholders: psTrckRgxsPlaceholders, matched_group_name_to_offers_or_status: array<string, list<string>>, cleaners: array<string, string>}'
    psTrckRgxsPlaceholders:    'array<string, list<string>|array<string, list<string>>>'
