parameters:
  level: 6
  paths:
    - src
    - tests

  symfony:
    consoleApplicationLoader: tests/console-application.php

  typeAliases:
    psIuSubmissionFieldValue:  'null|int|bool|string|string[]'
    psWebpageSnapshotMetadata: 'array{url: string, ownerName: string, retrievedAt: string, childCount: int, headers: string[][], errors: string[], httpCode: int}'
    psFieldValue:              'App\DataDefinitions\Ages|DateTimeImmutable|string[]|string|int|bool|null'
    psJsonFieldValue:          'string[]|string|bool|null'
    psArtisanStatsArray:       'array{open_for_anything: int, closed_for_anything: int, successfully_tracked: int, partially_tracked: int, tracking_failed: int, tracking_issues: int, tracked: int, total: int}'

    psSpecie:                  'null|array<string, psSubspecie>'
    psSubspecie:               'null|array<string, mixed>' # No recursion allowed

    psFixerConfig:             'array{replacements: array<string, string>, regex_prefix: string, regex_suffix: string}'
    psLanguagesFixerConfig:    'array{replacements: array<string, string>, regex_prefix: string, regex_suffix: string, regexp: string}'
