{% import "main/modals/filters/macros.html.twig" as macros %}

<fieldset>
    <div class="row">
        <div class="col-sm-12">
            {{ macros.filter_all_none_invert('simple') }}

            {{ macros.filter_special_items_wrapped(filter_data, group_name) }}
        </div>
    </div>

    <div class="row">
        {% apply spaceless %}
            {% for item in filter_data.items %}
                <div class="col-sm-6 col-lg-3">
                    {{ macros.filter_checkbox_wrapped(group_name, item.value, item.label, item.count) }}
                </div>
            {% endfor %}
        {% endapply %}
    </div>
</fieldset>
