{% import "main/modals/filters/macros.html.twig" as macros %}

<fieldset class="species">
    <div class="row">
        <div class="col"> {# TODO: #76 Species count #}
            {{ macros.filter_checkbox_wrapped(group_name, '?', 'Unknown', null, '<i class="fas fa-question-circle"></i>') }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% macro branch(species, group_name) %}
                {% for item in species.items %}
                    <div class="btn-group specie" role="group">
                        <span class="btn btn-outline-secondary"> {# TODO: #76 Species count #}
                            {{ macros.filter_checkbox(group_name, item.label, item.label, null, '',
                                '<span class="descendants-indicator"><i class="fas fa-tasks"></i></span>') }}
                        </span>

                        {% if item.isComplex() %}
                            <span class="btn btn-outline-secondary toggle">
                                <i class="fas fa-caret-right"></i>
                            </span>
                        {% endif %}
                    </div>

                    {% if item.isComplex() %}
                        <br>
                        <fieldset class="subspecies">
                            {{ _self.branch(item.value, group_name) }}
                        </fieldset>
                    {% endif %}
                {% endfor %}
            {% endmacro %}

            {% apply spaceless %}
                {{ _self.branch(filters.species, group_name) }}
            {% endapply %}
        </div>
    </div>

    <div class="row">
        <div class="col text-end">
            <a class="btn btn-secondary" href="#filters-top">Top</a>
        </div>
    </div>
</fieldset>
