{% extends 'submissions/_base.html.twig' %}

{% block title %}Submission #{{ import_data.submission.id }}{% endblock %}

{% block body %}
    <h1>{{ block('title') }}</h1>

    <div class="row">
        <div class="col-lg-6 submission">
            {{ include('submissions/review/submission.html.twig') }}
        </div>
        <div class="col-lg-6 discussion">
            {{ include('submissions/review/discussion.html.twig') }}
        </div>
    </div>
{% endblock %}
