@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./navbar";

html {
  // FIXME: https://github.com/symfony/panther/issues/502#issuecomment-1004734763
  scroll-behavior: auto !important;
}

div.footer {
  font-size: 75%;
}

ol ol {
  list-style: lower-alpha;
}

p.item-pills {
  overflow-x: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.img-tracking img {
  max-height: 15em;
}

.helphints-toggle {
  margin-bottom: 1ex;
}

.helphints-contents {
  margin-bottom: 1ex;
  margin-top: -1ex;

  ul {
    padding-inline-start: 1em;
    margin-bottom: 0;
  }
}

span.utc_datetime {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 0.2ex;
}

.new-creator,
#legend-modal .new-creator // More precise selector, otherwise was overwritten by Bootstrap styles
{
  color: #4cae4c;
}

.references :target {
  background-color: #ffec00;
}

.captcha {
  margin-bottom: 1rem;

  .card-header {
    padding: 0 0.375rem;
    font-weight: bold;
  }

  .options {
    p {
      margin-bottom: 0.375rem;
    }

    label {
      font-size: 48px;
      padding: 0 0.375rem;
    }
  }

  .list-group-item {
    padding: 1ex;
  }
}
