p.form-text.help-text,
.helphints-contents {
  em {
    margin: 0 0.3ex;
    background-color: #efefef;
    color: teal;
  }
}

.pros-cons-contact-options {
  .fa-square-check {
    color: #28a745 !important;
  }

  .fa-circle-xmark {
    color: #dc3545 !important;
  }
}

label:not(.form-check-label),
legend {
  font-weight: bold;
}

div.mandatory {
  label:not(.form-check-label):before,
  legend:before,
  span.marking:before {
    content: "🔴 ";
    color: #f00;
  }
}

h2.mandatory:before,
span.mandatory:before {
  content: "🔴 ";
  color: #f00;
}

div.important {
  label:not(.form-check-label):before,
  legend:before,
  span.marking:before {
    content: "🟠️ ";
    color: #ffc107;
  }
}

span.important:before {
  content: "🟠️ ";
  color: #ffc107;
}

div.recommended {
  // Rethink these
}

.tiny-dog {
  max-height: 18em;
}

.form-help-pull-up {
  margin-top: -0.75rem;
}
