@import "../../node_modules/bootstrap/scss/bootstrap";

.intro-updated-info {
  color: #6c757d;
  font-size: 0.7em;
}

.ages {
  &.fa-user-minus {
    color: #ffcc00;
  }

  &.fa-user-plus {
    color: #4cae4c;
  }

  &.fa-user {
    color: #bbb;
  }
}

div#data-table-container {
  table .makerId,
  table .state,
  table .languages,
  table .productionModels,
  table .styles,
  table .types,
  table .features,
  table .species,
  table .commissions,
  table .links {
    display: none;
  }

  table.show-makerId .makerId,
  table.show-state .state,
  table.show-languages .languages,
  table.show-productionModels .productionModels,
  table.show-styles .styles,
  table.show-types .types,
  table.show-features .features,
  table.show-species .species,
  table.show-commissions .commissions,
  table.show-links .links {
    display: table-cell;
  }
}

table#creators-table {
  thead {
    th {
      vertical-align: middle;
    }
  }

  &.table-striped > tbody > tr.inactive:nth-of-type(odd) > *,
  &.table-striped > tbody > tr.inactive:nth-of-type(even) > * {
    // odd+even suppress table-striped
    color: #888;
  }

  &.table-striped > tbody > tr.inactive:hover:nth-of-type(odd) > *,
  &.table-striped > tbody > tr.inactive:hover:nth-of-type(even) > * {
    // odd+even suppress table-striped
    color: #212529;
  }

  tbody {
    tr.hidden {
      display: none;
    }

    tr.matched-maker-id td {
      background-color: #99cb84;
    }

    td {
      cursor: pointer;
      vertical-align: middle;
    }

    td.features,
    td.types,
    td.styles,
    td.productionModels,
    td.languages,
    td.species,
    td.commissions {
      font-size: 75%;
    }

    td.species,
    td.commissions {
      ul {
        list-style: none;
        padding: 0;

        li {
          display: inline-block;
          margin-right: 1ex;
        }

        li.yes i {
          color: #4cae4c;
        }

        li.inaccurate i {
          color: #ffc107;
        }

        li.no i {
          color: #f20600;
        }
      }
    }

    td.commissions {
      text-align: center;
    }

    td.makerId {
      font-family: monospace;
    }

    td.links {
      text-align: right;
      cursor: default;
    }
  }
}

.nl2br {
  white-space: pre-wrap;
}

#creator-card-modal {
  #makerId {
    font-size: 80%;
    font-family: monospace;
    font-style: italic;
    color: #aaa;
  }

  #makerId:empty {
    display: none;
  }

  img.tracking-failed {
    max-height: 10em;
  }

  div.imgs-container {
    div {
      display: table-cell;

      + div {
        padding-left: 1ex;
      }

      img {
        width: 25ex;
        height: 25ex;
        object-fit: cover;
      }

      img[src$="#r90"] {
        transform: rotate(90deg);
      }
      img[src$="#r180"] {
        transform: rotate(180deg);
      }
      img[src$="#r270"] {
        transform: rotate(270deg);
      }

      img[src$="#0050r90"] {
        transform: rotate(90deg);
        object-position: 0 50%;
      }

      img[src$="#4550"] {
        object-position: 45% 50%;
      }

      img[src$="#5040"] {
        object-position: 50% 40%;
      }

      img[src$="#5020"] {
        object-position: 50% 20%;
      }

      img[src$="#7050"] {
        object-position: 70% 50%;
      }

      img[src$="#4050"] {
        object-position: 40% 50%;
      }

      img[src$="#0050"] {
        object-position: 0 50%;
      }

      img[src$="#10050"] {
        object-position: 100% 50%;
      }

      @for $i from 1 through 5 {
        img[src$="#d#{$i * 10}"] {
          object-position: 50% #{50% - $i * 10%};
        }
      }

      @for $i from 1 through 5 {
        img[src$="#u#{$i * 10}"] {
          object-position: 50% #{50% + $i * 10%};
        }
      }

      img[src$="#r90d10"] {
        transform: rotate(90deg);
        object-position: 40% 50%;
      }

      img[src$="#r90d20"] {
        transform: rotate(90deg);
        object-position: 30% 50%;
      }

      img[src$="#r90d30"] {
        transform: rotate(90deg);
        object-position: 20% 50%;
      }

      img[src$="#r90d40"] {
        transform: rotate(90deg);
        object-position: 10% 50%;
      }

      img[src$="#r90d50"] {
        transform: rotate(90deg);
        object-position: 0 50%;
      }
    }
  }

  ul {
    padding-left: 1rem;
    margin-bottom: 0;
  }

  p.lead {
    margin-bottom: 0;
  }

  .inaccurate {
    color: #ffc107;
  }
}

#filters-modal-body {
  fieldset legend {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0;
    padding-top: 0.5rem;
  }

  .count {
    font-size: 90%;
    color: #aaa;
  }

  .species {
    .specie {
      margin: 0.5ex 0.5ex 0 0;

      label {
        margin: 0 0 0 0.5ex;
      }

      button.toggle {
        padding-left: 2ex;
        padding-right: 2ex;
      }
    }

    .subspecies {
      margin-left: 1.5em;
      display: none;
    }
  }

  .all-none-invert {
    font-size: 90%;
    font-weight: normal;
    color: #aaa;
  }

  .all-none-invert.countries {
    padding-left: 1em;
  }

  .all-none-invert.simple {
    float: right;
  }
}

.htmx-indicator {
  display: none;

  position: fixed;
  padding: 20px;
  left: 0;
  right: 0;
  top: 0;

  // Fixes situation on narrow screens when the filters button being focused
  // after closing the filters modal overlaps the loading indicator
  z-index: $zindex-toast + 10;

  > div {
    width: 250px;
    margin: 0 auto;
    text-align: center;
  }
}

.htmx-request .htmx-indicator,
.htmx-request.htmx-indicator {
  display: block;
}
