.navbar {
  .nav-link {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    .navlink-label {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "cell";

      .spacer,
      .displayed {
        grid-area: cell;
      }
    }

    &.active .navlink-label .displayed,
    .navlink-label .spacer {
      font-weight: bold;
    }

    .navlink-label .spacer {
      opacity: 0;
      user-select: none;
    }

    i.fas {
      font-size: 1.2rem;
    }
  }
}
