{% extends '_base.html.twig' %}

{% block title %}What you should know{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script async src="https://platform.twitter.com/widgets.js"></script>
{% endblock %}

{% set refs = {
    'FSR1': {
        uri: 'https://fursuitreview.com/blog/what-is-a-fursuit-types-styles-padding/',
        label: 'FursuitReview - What Is A Fursuit: Types, Styles, & Padding',
    },
    'FSR2': {
        uri: 'https://fursuitreview.com/blog/buying-a-fursuit-is-a-fursuit-right-for-you/',
        label: 'FursuitReview - Buying a Fursuit: Is a Fursuit Right For You?',
    },
    'FSR3': {
        uri: 'https://fursuitreview.com/blog/choosing-the-right-maker-for-your-fursuit/',
        label: 'FursuitReview - Choosing the Right Maker for Your Fursuit',
    },
    'FSR4': {
        uri: 'https://fursuitreview.com/blog/buying-a-fursuit-pre-mades-vs-commissions-finding-maker-contacts/',
        label: 'FursuitReview - Buying a Fursuit: Pre-mades vs. Commissions, & Finding Maker Contacts',
    },
    'FSR5': {
        uri: 'https://fursuitreview.com/blog/buying-a-fursuit-the-commission-process/',
        label: 'FursuitReview - Buying a Fursuit: The Commission Process',
    },
    'TT1': {
        uri: 'https://twitter.com/FursuitReview/status/1484344172672786437',
        label: 'Twitter thread: "What is information you often see mentioned as a negative in submitted reviews that are in reality, something to be considered preference or nothing to worry about?"',
    },
    'TT2': {
        uri: 'https://twitter.com/getfursuit/status/1489529415478521856',
        label: 'Twitter thread: "What would be few of the most important things for your potential customers to know or understand before trying to commission?"',
    },
} %}

{% macro read_more(refs, names) %}
    <p class="small">
        External, valuable readings:

        {% for name in names %}
            <a href="#ref-{{ name }}">{{ refs[name]['label'] }}</a> {%- if not loop.last %},{% endif %}
        {% endfor %}
    </p>
{% endmacro %}

{% block body %}
    <h1 class="visually-hidden">What you should know</h1>

    <div class="row">
        <aside class="col-lg-3 sticky-lg-top overflow-auto" style="height: calc(100% - 6rem);">
            <h5 class="pt-2">Table of contents</h5>
            <div id="sk-toc"></div>
        </aside>

        <div id="sk-content" class="col-lg-9" data-bs-spy="scroll" data-bs-target="#sk-toc">
            {% include 'pages/should_know_contents.html.twig' %}
        </div>
    </div>
{% endblock %}
