{% extends '_base.html.twig' %}

{% block title %}What you should know about fursuits{% endblock %}

{% block body %}
    <p class="text-bold text-danger">This is a work in progress. In fact, this is one of the most "scratchpady" thing on this website. Nothing is to be considered final and/or complete.</p>

    <h1 class="pt-4">"I want a fursuit NOW!"</h1>

    <p>Sorry, but you will not get one in next days, nor weeks, so reading this will not hurt. And it will help you avoid problems.</p>

    <h1 class="pt-4">What you should know</h1>

    <h4 class="pt-2">Do you want to <strong>become a furry</strong>?</h4>

    <p>
        Great news! <strong>You don't have to buy a fursuit to be a furry.</strong> You can enjoy all the fandom has to offer, including attending conventions, joining fursuit walks, meetings, on-line activities, art and so on. You can ask fursuiters for selfies with them and for hugs. All of this without the need to pay for your own fursuit and waiting weeks/months for its completion.
    </p>

    <h4 class="pt-3">Fursuits require <strong>significant effort</strong></h4>

    <p>
        Looking for the maker, ordering process, maintenance and care once you receive the fursuit - <strong>all of this will require time and effort</strong>. Worth noting, wearing a fursuit is far from comfortable, and is far different from the happiness you see outside.
    </p>

    <h4 class="pt-3">Fursuit is a <strong>luxury</strong> item</h4>

    <p>
        Each fursuit is a unique, hand-made item, made by an artist. <strong>Fursuits are not mass-produced, they often get expensive.</strong>
    </p>

    <p>
        If you "change your mind" after buying it, you will find it <strong>difficult to resell it, and you won't sell it at the price you bought it</strong>.
    </p>

    <h4 class="pt-3">If you are <strong>under 18 years old, you may want/need to wait</strong></h4>

    <p>
        <strong>Majority of makers don't work with minors</strong> (variety of reasons). Cheating will probably get you in trouble.
    </p>

    <p>
        Also, consider the fact that you still grow. Are you sure you want to <strong>spend cash on something which soon will no longer fit you?</strong>
    </p>

    <h4 class="pt-3">Fix your expectations</h4>

    <h5 class="pt-2">Looks</h5>

    <p>
        Your maker will not "copy" someone else's style. Don't ask for such an approach.
    </p>

    <h5 class="pt-2">Time</h5>

    <p>
        <strong>You are not getting your fursuit soon.</strong> Be patient and don't make any rush decisions.
    </p>

    <p>
        If a maker state their <strong>completion time</strong>, this most probably <strong>doesn't include</strong> queue time, payment plans or retrieval of materials or your DTD.
    </p>

    <h5 class="pt-2">Communication</h5>

    <p>
        <strong>Do not expect the maker to respond immediately.</strong> (Including when they already started working on your suit!) They may be in a different timezone, they may be asleep right now. They don't work 24/7, they may have weekends and/or days off.
    </p>

    <p>
        Talk with the maker about <strong>frequency of updates/WIPs - do not assume</strong> anything.
    </p>

    <p>
        Your maker may work on some other fursuit at the same time, e.g. to work on multiple similar parts simultaneously.
    </p>

    <h4 class="pt-3">Do your part</h4>

    <p>
        You <strong>need</strong> an exhaustive reference sheet. Have it to avoid misunderstandings. Text description is not enough.
    </p>

    <p>
        Check/ask if the maker you chose have their own instructions for preparing a DTD.
    </p>

    <h4 class="pt-3">There's a risk</h4>

    <p>
        Unfortunately, scammers and unreliable makers are not cooperating and continuously refuse to clearly label themselves as scammers or unreliable makers. :( So you need to be careful.
    </p>

    <h5 class="pt-2">"But the maker is on getfursu.it, so they are reliable, right?"</h5>

    <p>
        <strong>NO, getfursu.it doesn't guarantee safety!</strong> This website is a single-person effort; I don't have enough time &amp; energy to do all the background checks.
    </p>

    <h5 class="pt-2">"I've chosen the maker, now what?"</h5>

    <ul>
        <li>
            Ask on social media<wbr>/groups<wbr>/forums if someone had prior experience working with the maker<wbr>/studio. Do it now, or you're not getting a hug! <span class="text-danger">TODO: suggest groups/hashtags</span>
        </li>
        <li>
            Check if they have any reviews on <a href="https://fursuitreview.com/">FursuitReview</a>.
        </li>
        <li>
            Check if they've been listed on <a href="https://artistsbeware.info/">Artists Beware</a> (<a href="https://bewares.getfursu.it">alternate search tool</a>).
        </li>
    </ul>

    <p>
        New makers are marked like this: <span class="new-artisan"><i class="fa-solid fa-leaf"></i> recently added</span>. Everyone starts some day, so everyone will bear that mark at some point. But if a scammer made it on getfursu.it, they would probably still have this. Be more careful (or even "carefulest") with those makers.
    </p>

    <h5 class="pt-2">Rules</h5>

    <ul>
        <li>
            <strong>Use e-mail for communication.</strong> Some messengers allow erasing of the history for both sides. If discussing something over IM, send a compilation of things agreed on through e-mail and request confirmation (this will also reduce risk of misunderstandings). <a href="https://twitter.com/Artists_Beware/status/1421136884626038784">(Tweet)</a>
        </li>
        <li>
            Offers "too good to be true" are scam.
        </li>
        <li>
            If a maker wants "friends and family" option on PayPal, and they are not popular, be especially careful. <a href="https://twitter.com/Artists_Beware/status/1265030367544664065">(Tweet)</a>
        </li>
        <li>
            <span class="text-danger">TODO</span>
        </li>
    </ul>

    <h1 class="pt-3">Read more</h1>

    <p>
        :O You want to read more? Awesome, check the stuff below! BTW, those are the sources of the essence you see above.
    </p>

    <ul class="list-unstyled">
        <li>
            [1] <a href="https://fursuitreview.com/blog/how-to-buy-a-fursuit-guide/">How to Buy a Fursuit: Guide Series</a>
        </li>
        <li>
            [2] <a href="https://twitter.com/FursuitReview/status/1484344172672786437">Twitter thread: "What is information you often see mentioned as a negative in submitted reviews that are in reality, something to be considered preference or nothing to worry about?"</a>
        </li>
        <li>
            [3] <a href="https://twitter.com/getfursuit/status/1489529415478521856">Twitter thread: "What would be few of the most important things for your potential customers to know or understand before trying to commission?"</a>
        </li>
    </ul>
{% endblock %}
