{% extends '_base.html.twig' %}

{% block title %}What you should know about fursuits{% endblock %}

{% block body %}
    <h1>What you should know</h1>



    <h2>Do you want to become a furry?</h2>

    <p>
        Great news! <strong>You don't have to buy a fursuit to be a furry.</strong> You can enjoy all the fandom has to offer, including attending conventions, joining fursuit walks, meetings, on-line activities, art and so on. You can ask fursuiters for selfies with them and for hugs. All of this for free, without buying a fursuit.
    </p>

    <h2>Fursuit is a luxury item</h2>

    <p>
        <strong>Each fursuit is a one-of-a kind, hand-made item, made by an artist.</strong> Fursuits are not mass-produced, they cannot be cheap.
    </p>

    <h2>Fix your expectations</h2>

    <h3>About how your fursuit will look like</h3>

    <p>
        Your maker will not "copy" someone else's style. Don't ask for such an approach.
        Provide you maker with an exhaustive reference sheet. Text description are not enough.
    </p>


    <h3>About time</h3>
    <p>
        You are not getting your fursuit soon. Be patient and don't take any rush decisions.
        Your maker may not respond immediately. Timezones are a thing.
        Your maker may work on some other fursuit at the same time.
    </p>

    <h2>Be safe</h2>

    <h3>"A maker is listed on getfursu.it so they are reliable, right?"</h3>

    <p style="font-size: 1000%;">NO!</p>


{% endblock %}
