{% extends '_base.html.twig' %}

{% block title %}service suspended{% endblock %}

{% block body %}
    <div class="alert alert-light border-primary-subtle m-5" role="alert">
        Service suspended
    </div>
{% endblock %}
