<div class="container footer pb-5">
    <div class="row">
        <div class="col-sm">
            <div class="card border-primary bg-light mb-4">
                <div class="card-header">Privacy &amp; cookies</div>
                <div class="card-body">
                    <p class="card-text">
                        This website may be using a single functional, session cookie. Otherwise, neither cookies nor other treats are being utilized.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card border-primary bg-light mb-4">
                <div class="card-header">License</div>
                <div class="card-body row">
                    <div class="col-auto pt-1">
                        <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
                            <img alt="Creative Commons License" src="{{ asset('images/cc-by-sa-4.0-88x31.png') }}" />
                        </a>
                    </div>
                    <div class="col ps-0">
                        <p class="card-text">
                            Except where otherwise noted, all data&amp;information available on this website is licensed under <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> license. More information available <a href="{{ path('info') }}">here</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
