{% set is_active = app.request.attributes.get('_route') == name %}

<li class="nav-item">
    <a class="nav-link {% if is_active %}active{% endif %}" {% if is_active %}aria-current="page"{% endif %} href="{{ path(name) }}">{{ pretty_name|raw }}</a>
</li>
