<nav class="navbar navbar-expand-lg bg-body-tertiary mb-2">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% include '_menu_item.html.twig' with {'name': 'main', 'fa_icon': 'home', 'label': 'Home' } %}
                {% include '_menu_item.html.twig' with {'name': 'info', 'fa_icon': 'circle-info', 'label': 'About' } %}
                {% include '_menu_item.html.twig' with {
                    'id': 'navlink-news',
                    'data_attrs': {
                        'latest-event': getLatestEventTimestamp()
                    },
                    'name': 'events',
                    'fa_icon': 'newspaper',
                    'label': 'News'
                } %}
                {% if isDevEnv() %}
                    {% include '_menu_item.html.twig' with {'name': 'mx_artisan_new', 'fa_icon': 'plus', 'label': 'Maker' } %}
                    {% include '_menu_item.html.twig' with {'name': 'mx_event_new', 'fa_icon': 'plus', 'label': 'Event' } %}
                    {% include '_menu_item.html.twig' with {'name': 'mx_artisan_urls', 'fa_icon': 'link', 'label': 'URLs' } %}
                    {% include '_menu_item.html.twig' with {'name': 'mx_query', 'fa_icon': 'filter', 'label': 'Query' } %}
                    {% include '_menu_item.html.twig' with {'name': 'mx_submissions', 'fa_icon': 'file-lines', 'label': 'Submissions' } %}
                {% endif %}
            </ul>
        </div>

        <ul class="navbar-nav d-flex top-menu-right">
            {% include '_menu_item.html.twig' with {'name': 'iu_form_step_start', 'fa_icon': 'user-gear', 'label': 'Fursuit Makers' } %}
            {% include '_menu_item.html.twig' with {'name': 'donate',  'fa_icon': 'circle-dollar-to-slot', 'label': 'Donate' } %}
            {% include '_menu_item.html.twig' with {'name': 'contact', 'fa_icon': 'envelope', 'label': 'Contact' } %}
        </ul>
    </div>
</nav>
