{% extends '_base.html.twig' %}

{% block body %}
    <div class="captcha">
        <h4 class="text-center">Captcha!</h4>

        {% for question in captcha.questions %}
            <div class="question text-center mb-4">
                <p>Please select all animals that {{ question.question }}:</p>

                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                    {% for answer in question.answers %}
                        {% set unique_id = 'btncheck' ~ unique_int() %}
                        <input type="checkbox" class="btn-check" id="{{ unique_id }}" autocomplete="off">

                        <label class="btn btn-outline-info" for="{{ unique_id }}">{{ answer.emoticon }}</label>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
