<div id="{{ id }}">
    <p>
        <strong>If you are the maker - please</strong>
        <a href="" class="artisanGoogleFormUrl" target="_blank">fill this form</a>.
    </p>
    <p>
        Otherwise you can <a href="" class="twitterUrl" target="_blank">request update via Twitter</a>
        (this requires a Twitter account),
        <a href="" class="guestGoogleFormUrl" target="_blank">submit request through Google form</a>, or
        <a href="{{ path('info') }}#contact" target="_blank">contact this website's maintainer</a>.
    </p>
</div>
