- name: 'Check current working branch'
  ansible.builtin.command:
    cmd: 'git branch --show-current'
  register: 'git_branch_cmd'
  check_mode: false
  changed_when: false

- name: 'Set helper variable'
  ansible.builtin.set_fact:
    working_branch: '{{ git_branch_cmd.stdout }}'

- name: 'Merge working into prod branch'
  block:
    - name: 'Checkout the prod branch'
      ansible.builtin.command:
        cmd: 'git checkout {{ prod_branch | quote }}'
      check_mode: false
      changed_when: false

    - name: 'Merge the working branch into the prod branch'
      ansible.builtin.command:
        cmd: 'git merge --no-edit {{ working_branch | quote }}'
      changed_when: false

    - name: 'Push the prod branch to origin'
      ansible.builtin.command:
        cmd: 'git push origin {{ prod_branch | quote }}'
      changed_when: true # Could show if anything actually was pushed/merged

    - name: 'Checkout the working branch'
      ansible.builtin.command:
        cmd: 'git checkout {{ working_branch | quote }}'
      check_mode: false
      changed_when: false

    - name: 'Merge the prod branch back into the working branch'
      ansible.builtin.command:
        cmd: 'git merge --no-edit {{ prod_branch | quote }}'
      changed_when: false

    - name: 'Push the working branch to origin'
      ansible.builtin.command:
        cmd: 'git push origin {{ working_branch | quote }}'
      changed_when: false

  always:
    - name: 'Make sure to switch back to the working branch'
      ansible.builtin.command:
        cmd: 'git checkout {{ working_branch | quote }}'
      check_mode: false
      changed_when: false
