body {
  padding: 5em 1em 1em;
}
img[src="FurAffinity.svg"] {
  height: 1em;
}
table#artisans {
  border-collapse: collapse !important;
}
table#artisans td.hidden-data,
table#artisans th.hidden-data {
  display: none;
}
table#artisans tbody td {
  cursor: pointer;
}
table#artisans tbody td.links {
  cursor: default;
}
div.dataTables_info {
  white-space: normal !important;
}
#artisans_wrapper > div.row {
  margin-left: 0;
  margin-right: 0;
}
#artisans_wrapper > div.row > div {
  padding: 0;
}
#artisans_wrapper > div.row:nth-child(2) > div.col-sm-12 {
  overflow-x: auto;
}
div.footer {
  font-size: 75%;
}
ul {
  padding-left: 3ex;
}
#artisanLinks .url {
  color: #007bff;
}
p.item-pills {
  overflow-x: auto;
}
.overflow-x-auto {
  overflow-x: auto;
}
#tracking_content img {
  max-height: 15em;
}
