###############################################################################
#                          Generated on phpdocker.io                          #
###############################################################################

# This docker-compose is for dev machines only!

services:
  web:
    image:   'nginx:alpine'
    restart: 'unless-stopped'
    ports:
      - '${FUZZRAKE_DEV_WEBSRV_PORT:-8080}:80'
    volumes:
      - '../symfony:/var/www/html'
      - './dev-nginx.conf:/etc/nginx/conf.d/default.conf'

  php:
    build:
      context: 'php-fpm'
      args:
        DEV_MACHINE: 'yes'
        DOCKER_UID:  '${FUZZRAKE_DOCKER_UID:-1000}'
    environment:
      PHP_IDE_CONFIG: 'serverName=fuzzrake-dev'
    restart: 'unless-stopped'
    user:    'root:root'
    volumes:
      - '../symfony:/var/www/html'
      - '${FUZZRAKE_COMPOSER_HOME:-../symfony/var/composer}:/composer'
      - '/dev/shm:/dev/shm'
