###############################################################################
#                          Generated on phpdocker.io                          #
###############################################################################

# This docker-compose is for dev machines only!

services:
  web:
    image: nginx:alpine
    restart: unless-stopped
    volumes: # FIXME: https://github.com/veelkoov/fuzzrake/issues/168
      - ..:/var/www/html
      - ./dev-nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - '${FUZZRAKE_DEV_WEBSRV_PORT:-8080}:80'

  php:
    build:
      context: php-fpm
      args:
        DEV_MACHINE: 'yes'
    restart: unless-stopped
    volumes: # FIXME: https://github.com/veelkoov/fuzzrake/issues/168
      - ..:/var/www/html
      - '${FUZZRAKE_COMPOSER_HOME:-../var/composer}:/composer'
      - /dev/shm:/dev/shm
