{% extends 'main/modals/filters/helphints/parent.html.twig' %}

{% block name %}commissionsStatus{% endblock %}

{% block contents %}
    <li>Due to the limitation of the software, getfursu.it does not track all the makers. You may want to check the <em>Unknown</em> option if you don't get satisfying results otherwise.</li>
    <li>To read about how the tracking feature work and <strong>what are all the limitations</strong>, <a href="{{ path('tracking') }}" target="_blank">click here</a>.</li>
{% endblock %}
