{% extends 'main/modals/filters/helphints/parent.html.twig' %}

{% block name %}countries{% endblock %}

{% block contents %}
    <li>If you don't see the country you want to filter by, this means there is no maker from that country in the database.</li>
    <li>Few makers (mostly imported from other databases at the beginning of the project) still don't have the country information supplied. You might want to try <em>Unknown</em> option as well.</li>
{% endblock %}
