{% extends 'main/modals/filters/helphints/parent.html.twig' %}

{% block name %}languages{% endblock %}

{% block contents %}
    <li>If you don't see the language you want to filter by, this means there is no maker who stated they speak the language in the database.</li>
    <li>Many makers still don't have the language information supplied. You might want to try <em>Unknown</em> option as well.</li>
{% endblock %}
