{% extends 'main/modals/filters/helphints/parent.html.twig' %}

{% block name %}orderTypes{% endblock %}

{% block contents %}
    <li>Many makers still haven't supplied the information about order types they do. You might want to try <em>Unknown</em> option as well.</li>
{% endblock %}
