{% extends 'main/modals/filters/helphints/parent.html.twig' %}

{% block name %}productionModels{% endblock %}

{% block contents %}
    <li>Many makers still haven't supplied the information about production models they work in. You might want to try <em>Unknown</em> option as well.</li>
{% endblock %}
