{% extends 'main/modals/filters/helphints/parent.html.twig' %}

{% block name %}styles{% endblock %}

{% block contents %}
    <li>Some makers still haven't supplied the information about styles they work in. You might want to try <em>Unknown</em> option as well.</li>
{% endblock %}
