{% extends 'main/modals/filters/helphints/parent.html.twig' %}

{% block name %}worksWithMinors{% endblock %}

{% block contents %}
    <li>A lot of makers still haven't supplied the information if they work with minors or not.</li>
    <li>This is a temporary filter. In the future this feature will be implemented in a different way.</li>
{% endblock %}
