body {
  padding: 4.5em 0 0;
}

li:target * {
  background-color: #ccf0b7;
}

li + li.separator-time {
  margin-top: 1ex;
}

li + li.separator-day {
  margin-top: 1em;
  border-top: 1px dashed #ddd;
}

img[src="FurAffinity.svg"] {
  height: 1em;
}

#filtersAccordion {
  fieldset {
    font-size: 110%;
  }

  .card-header {
    cursor: pointer;
    padding: .5rem;
  }

  .card-body {
    padding: .5rem;
  }

  .allNoneInvert {
    padding-left: 1em;
    font-size: 90%;
    font-weight: normal;
    color: #aaa;
  }

  .allNoneInvertSingle {
    font-size: 90%;
    font-weight: normal;
    color: #aaa;
    float: right;
  }

  fieldset legend {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0;
    padding-top: .5rem;
  }

  .form-check {
    padding: .5ex 0;
  }

  .count {
    font-size: 90%;
    color: #aaa;
  }
}

#artisans_wrapper { /* Override anything DataTables */
  > div.row:nth-child(2) > div.col-sm-12 {
    overflow-x: auto;
  }

  div.dataTables_info {
    white-space: normal !important;
  }

  #artisans_filter {
    text-align: right;
  }
}

table#artisans {
  border-collapse: collapse !important;
  text-align: left;

  .hidden {
    display: none;
  }

  thead {
    th {
      vertical-align: middle;
    }
  }

  tbody {
    td {
      cursor: pointer;
      display: none;
      vertical-align: middle;
    }

    td.name {
      display: table-cell;
      text-align: left;
    }

    td.features, td.types, td.styles, td.production-models {
      text-align: left;
      display: table-cell;
      font-size: 75%;
    }

    td.commissions {
      display: table-cell;
      text-align: center;
    }

    td.maker-id {
      display: table-cell;
      font-family: monospace;
    }

    td.links {
      display: table-cell;
      text-align: right;
      cursor: default;
    }
  }
}

div.footer {
  font-size: 75%;
}

ul {
  padding-left: 3ex;
}

#artisanLinks .url {
  color: #007bff;
}

#makerId {
  font-size: 80%;
  font-family: monospace;
  font-style: italic;
  color: #aaa;
}

#makerId:empty {
  display: none;
}

p.item-pills {
  overflow-x: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

#tracking_content img {
  max-height: 15em;
}

@media (min-width: 1200px) {
  .modal-lg-fzr {
    max-width: 1080px; /* Bootstrap override */
  }
}
