body {
  padding: 4.5em 0 0;
}

.navbar-dark .navbar-nav .nav-link .always-full-opacity {
  color: #fff;
}

div.footer {
  font-size: 75%;
}

ol ol {
  list-style: lower-alpha;
}

p.item-pills {
  overflow-x: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.img-tracking img {
  max-height: 15em;
}

.data-updates-section {
  padding: 2ex;

  + .data-updates-section {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
  }
}

.data-updates-section:target {
  background-color: #9fcdff;
}
