monolog:
    channels:
        - deprecation # Deprecations are logged in the dedicated "deprecation" channel when it exists
        - tracking

when@dev:
    monolog:
        handlers:
            main:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug
                channels: ["!event"]
            console:
                type: console
                process_psr_3_messages: false
                channels: ["!event", "!doctrine", "!console"]

when@test:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: warning
                handler: nested
                excluded_http_codes: [404, 405]
                channels: ["!event"]
            nested:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug

when@prod: &when-at-prod
    monolog:
        handlers:
            normal:
                type: stream
                channels: ["!deprecation"]
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: info
                formatter: monolog.formatter.json
            issues:
                type: fingers_crossed
                action_level: warning
                handler: issues_nested
                excluded_http_codes: [404, 405]
                buffer_size: 50 # How many messages should be saved? Prevent memory leaks
            issues_nested:
                channels: ["!deprecation", "!tracking"]
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%-issues.log"
                level: debug
                formatter: monolog.formatter.json
                include_stacktraces: true
            console:
                type: console
                process_psr_3_messages: false
                channels: ["!event", "!doctrine"]
            deprecation:
                type: stream
                channels: [deprecation]
                path: "%kernel.logs_dir%/%kernel.environment%-deprecations.log"
                level: debug
                formatter: monolog.formatter.json

when@beta: *when-at-prod
