---
- name: 'Setup Yarn 1 repository'
  ansible.builtin.yum_repository:
    baseurl:     'https://dl.yarnpkg.com/rpm/'
    description: 'Yarn Repository'
    enabled:     '1'
    gpgcheck:    '1'
    gpgkey:      'https://dl.yarnpkg.com/rpm/pubkey.gpg'
    name:        'yarn'

- name: 'Install required packages'
  ansible.builtin.dnf:
    name:
      - '@nodejs:18/common'
      - 'augeas-libs'
      - 'firewalld'
      - 'git'
      - 'python3-firewall'
      - 'python3-pip'
      - 'python3-requests'
      - 'vim'
      - 'yarn'
    state: 'installed'

- name: 'Enable firewalld'
  ansible.builtin.service:
    enabled: true
    name:    'firewalld'
    state:   'started'

- name: 'Disable SELinux'
  ansible.builtin.lineinfile:
    line:  'SELINUX=disabled'
    path:  '/etc/selinux/config'
    regex: '^SELINUX='
  notify:
    - 'Reload system'

- name: 'Setup hostname'
  ansible.builtin.hostname:
    name: '{{ fqdn }}'
    use:  'systemd'
