#events-list {
  li div {
    overflow-wrap: break-word;
  }

  li:target * {
    background-color: #ccf0b7;
  }

  .event-details {
    display: none;

    blockquote {
      font-size: 100%;
    }
  }
}
