html { // FIXME: https://github.com/symfony/panther/issues/502#issuecomment-1004734763
  scroll-behavior: auto !important;
}

.navbar-dark .navbar-nav .nav-link .always-full-opacity {
  color: #fff;
}

div.footer {
  font-size: 75%;
}

ol ol {
  list-style: lower-alpha;
}

p.item-pills {
  overflow-x: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.img-tracking img {
  max-height: 15em;
}

ul.top-menu-right {
  flex-direction: row;
}

.helphints-toggle {
  margin-bottom: 1ex;
}

.helphints-contents {
  margin-bottom: 1ex;
  margin-top: -1ex;

  ul {
    padding-inline-start: 1em;
    margin-bottom: 0;
  }
}

span.utc_datetime {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 0.2ex;
}

.new-artisan {
  color: #4cae4c;
}

.references :target {
  background-color: #ffec00;
}

.is-active-link {
  font-weight: bold;
}

#mx-submission {
  tr {
    &.not-fixed.not-changing {
      color: #bbb;
      display: none;
    }
  }

  tr.submitted {
    &.not-fixed {
      display: none;
    }

    &.fixes-applied td:last-child {
      color: #0a53be;
    }
  }

  tr.bottom-separator td {
    border-bottom: 2px solid #aaa;
  }
}
