.form-group {
  label {
    font-weight: bold;
  }

  label.form-check-label {
    font-weight: normal;
  }
}

legend {
  font-weight: bold;
}

.hint {
  font-size: 80%;
  font-weight: 400;

  em {
    margin: 0 0.3ex;
    background-color: #efefef;
    color: teal;
  }
}

label.required:before, legend.required:before, .mandatory:before {
  content: '(mandatory) ';
  color: #f00;
  font-weight: bold;
}

label.required.form-check-label:before {
  content: '';
}

.passcode-confidentiality-warning {
  color: #f00;
  text-transform: uppercase;
  font-weight: bold;
}
