#filters-parents {
  .species {
    .specie {
      margin: 0.5ex 0.5ex 0 0;

      label {
        margin: 0 0 0 1ex;
      }

      button.toggle {
        padding-left: 2ex;
        padding-right: 2ex;
      }
    }

    .subspecies {
      margin-left: 1.5em;
      display: none;
    }

    .descendants-indicator {
      display: none;
    }
  }

  .allNoneInvert {
    font-size: 90%;
    font-weight: normal;
    color: #aaa;
  }

  .allNoneInvert.countries {
    padding-left: 1em;
  }

  .allNoneInvert.simple {
    float: right;
  }

  fieldset legend {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0;
    padding-top: .5rem;
  }

  .count {
    font-size: 90%;
    color: #aaa;
  }
}

#artisans_wrapper { /* Override anything DataTables */
  > div.row:nth-child(2) > div.col-sm-12 {
    overflow-x: auto;
  }

  div.dataTables_info {
    white-space: normal !important;
  }

  #artisans_filter {
    text-align: right;
  }
}

table#artisans {
  border-collapse: collapse !important;
  text-align: left;

  .hidden {
    display: none;
  }

  thead {
    th {
      vertical-align: middle;
    }
  }

  tbody {
    tr.inactive {
      color: #888;
    }

    tr.matched-maker-id td {
      background-color: #99cb84;
    }

    td {
      cursor: pointer;
      display: none;
      vertical-align: middle;
    }

    td.name {
      display: table-cell;
      text-align: left;
    }

    td.state {
      display: table-cell;
      text-align: left;
    }

    td.features, td.types, td.styles, td.production-models, td.languages, td.species, td.commissions {
      text-align: left;
      display: table-cell;
      font-size: 75%;
    }

    td.species, td.commissions {
      ul {
        list-style: none;
        padding: 0;

        li {
          display: inline-block;
          margin-right: 1ex;
        }

        li.yes i {
          color: #4cae4c;
        }

        li.inaccurate i {
          color: #ffc107;
        }

        li.no i {
          color: #f20600;
        }
      }
    }

    td.commissions {
      display: table-cell;
      text-align: center;
    }

    td.maker-id {
      display: table-cell;
      font-family: monospace;
    }

    td.links {
      display: table-cell;
      text-align: right;
      cursor: default;

      a.request-update {
        cursor: pointer;
      }
    }
  }
}

#artisanLinks .url {
  color: #007bff;
}

.ages {
  &.fa-user-minus {
    color: #ffcc00;
  }

  &.fa-user-plus {
    color: #4cae4c;
  }

  &.fa-user {
    color: #bbb;
  }
}

.insufficient-data {
    color: #bbb;
}

.new-artisan {
  color: #4cae4c;
}

#makerId {
  font-size: 80%;
  font-family: monospace;
  font-style: italic;
  color: #aaa;
}

#makerId:empty {
  display: none;
}

#artisanDetailsModal {
  img.tracking-failed {
    max-height: 10em;
  }

  div.imgs-container {
    div {
      display: table-cell;

      + div {
        padding-left: 1ex;
      }

      img {
        width: 25ex;
        height: 25ex;
        object-fit: cover;
      }

      img[src$="#r90"] {
        transform: rotate(90deg);
      }

      img[src$="#0050r90"] {
        transform: rotate(90deg);
        object-position: 0 50%;
      }

      img[src$="#4550"] {
        object-position: 45% 50%;
      }

      img[src$="#5040"] {
        object-position: 50% 40%;
      }

      img[src$="#5020"] {
        object-position: 50% 20%;
      }

      img[src$="#7050"] {
        object-position: 70% 50%;
      }

      img[src$="#4050"] {
        object-position: 40% 50%;
      }

      img[src$="#0050"] {
        object-position: 0 50%;
      }

      img[src$="#10050"] {
        object-position: 100% 50%;
      }

      img[src$="#r90d50"] {
        transform: rotate(90deg);
        object-position: 0 50%;
      }

      img[src$="#d10"] {
        object-position: 50% 40%;
      }

      img[src$="#d20"] {
        object-position: 50% 30%;
      }

      img[src$="#d30"] {
        object-position: 50% 20%;
      }

      img[src$="#d40"] {
        object-position: 50% 10%;
      }

      img[src$="#d50"] {
        object-position: 50% 0;
      }
    }
  }

  ul {
    padding-left: 1rem;
    margin-bottom: 0;
  }

  p.lead {
    margin-bottom: 0;
  }

  .inaccurate {
    color: #ffc107;
  }
}
