// https://getbootstrap.com/docs/5.3/customize/optimize/#lean-sass-imports
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

#main-page-intro {
  .intro-updated-info {
    color: #6c757d;
    font-size: 0.7em;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

table#creators-table {
  /* FIXME: OLD */
  tbody {
    td.species,
    td.commissions {
      li.yes i {
        color: #4cae4c;
      }

      li.inaccurate i {
        color: #ffc107;
      }

      li.no i {
        color: #f20600;
      }
    }
  }
}

#filters-modal-body {
  fieldset legend {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0;
    padding-top: 0.5rem;
  }

  .count {
    font-size: 0.5rem;
    color: #ccc;
    vertical-align: middle;
    text-wrap: nowrap;
  }

  .species {
    .specie {
      margin: 0.5ex 0.5ex 0 0;

      label {
        margin: 0 0 0 0.5ex;
      }

      button.toggle {
        padding-left: 2ex;
        padding-right: 2ex;
      }
    }

    .subspecies {
      margin-left: 1.5em;
      display: none;
    }
  }

  .all-none-invert {
    font-size: 90%;
    font-weight: normal;
    color: #aaa;
  }

  .all-none-invert.countries {
    padding-left: 1em;
  }

  .all-none-invert.simple {
    float: right;
  }
}

.htmx-indicator {
  display: none;

  position: fixed;
  padding: 20px;
  left: 0;
  right: 0;
  top: 0;

  // Fixes situation on narrow screens when the filters button being focused
  // after closing the filters modal overlaps the loading indicator
  z-index: $zindex-toast + 10;

  > div {
    width: 250px;
    margin: 0 auto;
    text-align: center;
  }
}

.htmx-request .htmx-indicator,
.htmx-request.htmx-indicator {
  display: block;
}
