<p>
    <strong>Please do not contact me if you are looking for a fursuit.</strong> I provide support for fursuit makers only. I am not a maker myself, I don't make fursuits, I am merely a "webmaster". The only thing I can do for you, is this website.
</p>

<p class="text-center overflow-x-auto">
    <span id="protected-contact-info"></span>
</p>

<p class="small">
    If the e-mail address didn't appear above, it means the automatic captcha failed. In that case please try using a different browser or device or network.
</p>
