<p class="text-center overflow-x-auto">
    <a href="{{ path('data_updates') }}" class="btn btn-warning btn-lg my-1">
        <i class="fas fa-plus-circle"></i> Add/update my studio
    </a>
    <a href="{{ path('rules') }}" class="btn btn-secondary btn-lg my-1">
        <i class="fas fa-balance-scale"></i> Rules
    </a>
</p>
