<p>
    <a href="https://fursuitmaterials.com/">FursuitMaterials.com</a> - great resource for fursuit makers and
    DIY folks.
</p>
<p>
    <a href="https://fursuitreview.com/">FursuitReview (fursuitreview.com)</a> - a place to look for reviews of fursuit
    makers' creations. Don't forget to submit yours!
</p>
<p>
    <a href="https://artistsbeware.info/">Artists Beware (artistsbeware.info)</a> - both for checking businesses and clients, and a resource of advice regarding business transactions.
</p>
<p>
    <a href="https://www.furaffinity.net/user/slatemist/" id="artist">AngoraRam</a> - the artist behind the artwork
    on this website.
</p>
<p>
    <a href="https://scritch.es/">Scritch</a> and <a href="https://www.furtrack.com/">Furtrack</a>
    - are <strong>the</strong> places for fursuit photos, and they agreed to serve photos of suits which
    you can find here (not a lot of them yet...)
</p>
