<ul>
    <li>See a maker missing? - Let them know about this website!</li>
    <li>See outdated data? - Report it!</li>
    <li>Encountered a bug? - <a href="{{ feedback_form_url }}">Report it</a>!</li>
    <li>Want a feature added/improved? - <a href="{{ feedback_form_url }}">Let me know</a>!</li>
    <li>Own a fursuit already? - <a href="https://forms.fursuitreview.com/">Submit a review</a>!</li>
    <li>Do you find this website helpful? - Spread awareness about it! (you can e.g. use the Twitter buttons on the main page or post a link to this website on Facebook/forums/your blog/your webpage)</li>
</ul>
