<p>
    License terms for graphics used on this website are available under each of the image used in the
    <a href="https://www.furaffinity.net/user/slatemist/">artist's FurAffinity gallery</a>.
    <a href="https://www.furaffinity.net/view/28153774/">[1]</a>
    <a href="https://www.furaffinity.net/view/28153811/">[2]</a>
    <a href="https://www.furaffinity.net/view/28682077/">[3]</a>
    <a href="https://www.furaffinity.net/view/28682113/">[4]</a>
</p>

<p>
    Except where otherwise noted, all data&amp;information available on this website is licensed under <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>. Snapshots of the data can be found in <a href="https://github.com/veelkoov/fuzzrake-data">the GitHub repository</a>.
</p>

<p>
    The software powering this website is licensed under the <a href="https://github.com/veelkoov/fuzzrake/blob/master/LICENSE">GNU Affero General Public License v3</a>. The source code can be found in <a href="https://github.com/veelkoov/fuzzrake">the GitHub repository</a>.
</p>
