<p>
    getfursu.it has a limited capability of tracking if makers are open or closed for quotes<wbr>/commissions<wbr>/etc. This information is updated twice a day. {# grep-tracking-frequency #} Explanation and all the information is available <a href="{{ path('tracking') }}">here</a>.
</p>
