<div class="modal-header">
    <h5 class="modal-title" id="updateRequestLabel">
        Outdated/inaccurate information:<br />
        {{ artisanName }}
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
    <p>
        <strong>If you are the maker - please</strong> <a href="{{ iuFormUrl }}">fill the update form</a>.
    </p>
    <p>
        Otherwise you can
        <a href="{{ feedbackFormUrl }}" target="_blank">submit the feedback form</a>.
    </p>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
