{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <ul>
            <li><a href="#introduction">Introduction</a></li>
            <li><a href="#how-to-help">How can you help</a></li>
            <li><a href="#data-updates">How to get your studio data updated or added</a></li>
            <li><a href="#commissions-status-tracking">Automatic updates of commissions status</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>

        <h1 id="introduction">Awoo!</h1>

        <div class="container py-4">
            <p>
                Welcome to an <strong>incubating project</strong>. The ultimate goal is to make furries rule
                the world, but first things first, we need more fursuits, and this is what this website is
                about. Since this project is <strong>just starting</strong>, there is not much data here,
                nor functionalities. Hopefully this will change over time.
            </p>
        </div>

        <h1 id="how-to-help">A little help?</h1>

        <div class="container py-4">
            <div class="row">
                <div class="col">
                    <h4>For (future) fursuiters</h4>

                    <p>
                        Could you please spare a few, up to several minutes, to fill a questionnaire?
                        <a href="https://goo.gl/forms/XLKZkoVhPHjhx4nk2">Click here</a>. Thank you!
                    </p>

                    <p>
                        If you contact any of the makers you found here, <strong>please let them know</strong>
                        about it!
                    </p>

                    <h4>For anyone</h4>

                    <p>
                        Please let everyone know about this project! Share the link to this website on Facebook,
                        Twitter, chat... Thanks!
                    </p>
                </div>
                <div class="col">
                    <h4>For fursuit makers</h4>

                    <p>
                        <strong>I will appreciate sending me updates of your information.
                            Both sides benefit here!</strong>
                    </p>

                    <p>
                        Sending your recent customers link to
                        <a href="https://goo.gl/forms/XLKZkoVhPHjhx4nk2">this questionnaire</a> will help me
                        know what troubled them while looking for a maker to make this website the best
                        experience for future looking.
                    </p>

                    <p>And BTW, thank you for creating more beauty!</p>
                </div>
            </div>
        </div>

        <h1 id="data-updates">
            Include/update studio's data <small><span class="badge badge-warning">(makers love this!)</span></small>
        </h1>

        <div class="container py-4">
            <p>
                If you want your studio to be included in this list or some data to be updated (spelling of
                the name, links, types, anything), feel free to
                <a href="https://goo.gl/forms/rrQt6YLnYasWgjjv1">fill in this questionnaire</a>.
            </p>
        </div>

        <h2 id="commissions-status-tracking">
            Automatic tracking and updates of commissions status
        </h2>

        <div class="container py-4">
            <p>
                This website can track and update the status of commissions for your studio - if they're open or closed.
                You don't need to remember to update this information here at all! There are a few need-to-knows:
            </p>
            <ul>
                <li>You need to actually keep at least <strong>one other</strong> website with up-to-date status</li>
                <li>
                    Not all kinds of websites are supported (yet) - sorry!
                    <ul>
                        <li>Generic websites (including Wix.com) - should work</li>
                        <li>FurAffinity with logging in restriction - nope</li>
                        <li>FurAffinity <strong>user page main info</strong> - yes, and recommended!</li>
                        <li>FurAffinity <strong>anything else, including journals</strong> - nope</li>
                        <li>Twitter - yes, but only profile info</li>
                        <li>Facebook - somehow... but discouraged!</li>
                    </ul>
                </li>
                <li>
                    Approximate delay between update on your website and status getting updated here is between
                    6-24 hours, but this is <strong>not guaranteed</strong> everyday
                </li>
                <li>Contact me for "inclusion" and guidance in case of any doubts/problems</li>
            </ul>
        </div>

        <h1 id="contact">Contact</h1>

        <div class="container py-4">
            <p class="text-center">
                <a href="https://www.facebook.com/veelkoov/" class="btn btn-primary btn-lg my-1">
                    <i class="fab fa-facebook"></i> Facebook</a>
                <a href="https://twitter.com/veelkoov" class="btn btn-primary btn-lg my-1">
                    <i class="fab fa-twitter"></i> Twitter</a>
                <a href="https://t.me/veelkoov" class="btn btn-primary btn-lg my-1">
                    <i class="fab fa-telegram"></i> Tereglam</a>
            </p>
        </div>
    </div>
{% endblock %}
