{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <ul>
            <li><a href="#introduction">Introduction</a></li>
            <li><a href="#data-updates">How to get your studio data updated or added</a></li>
            <li><a href="#commissions-status-tracking">Automatic updates of commissions status</a></li>
            <li><a href="#keep-in-touch">Keep in touch, see what's going on, join the party</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>

        <h1 id="introduction">Awoo!</h1>

        <div class="container py-4">
            <p>
                Welcome to a <strong>starting project</strong>. The ultimate goal is to make furries rule
                the world, but first things first, we need more fursuits, and this is what this website is
                about. The project is still considered in development and many features are planned to be
                implemented. Expect more in the future.
            </p>
        </div>

        <h1 id="data-updates">
            Include/update studio's data <small><span class="badge badge-warning">(makers love this!)</span></small>
        </h1>

        <div class="container py-4">
            <p>
                If you want your studio to be included in this list or some data to be updated (spelling of
                the name, links, types, anything), feel free to click this button:
            </p>
            <p class="text-center overflow-x-auto">
                <a href="{{ data_form_url }}" class="btn btn-primary btn-lg my-1">
                    <i class="fas fa-plus-circle"></i> Add my studio</a>
            </p>
        </div>

        <h2 id="commissions-status-tracking">
            Automatic tracking and updates of commissions status
        </h2>

        <div class="container py-4">
            <p>
                This website can track and update the status of commissions for your studio - if they're open or closed.
                You don't need to remember to update this information here at all! Explanation and all the information
                is now available <a href="{{ path('tracking') }}">here</a>.
            </p>
        </div>

        <h1 id="keep-in-touch">Keep in touch, see what's going on, join the party</h1>

        <div class="container py-4">
            <p class="text-center overflow-x-auto">
                <a href="https://t.me/getfursuit_chat" class="btn btn-primary btn-lg my-1">
                    <i class="fab fa-telegram"></i> Telegram discussion group</a>
                <a href="https://t.me/getfursuit" class="btn btn-primary btn-lg my-1">
                    <i class="fab fa-telegram"></i> Telegram announcements channel</a>
            </p>
        </div>

        <h1 id="contact">Contact maintainer</h1>

        <div class="container py-4">
            <p class="text-center">
                <a href="https://www.facebook.com/veelkoov/" class="btn btn-primary btn-lg my-1">
                    <i class="fab fa-facebook"></i> Facebook</a>
                <a href="https://twitter.com/veelkoov" class="btn btn-primary btn-lg my-1">
                    <i class="fab fa-twitter"></i> Twitter</a>
                <a href="https://t.me/veelkoov" class="btn btn-primary btn-lg my-1">
                    <i class="fab fa-telegram"></i> Telegram</a>
            </p>
        </div>
    </div>
{% endblock %}
