{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <ul>
            <li><a href="#introduction">Introduction</a></li>
            <li><a href="#data-updates">How to get your studio data updated or added</a></li>
            <li><a href="#commissions-status-tracking">Automatic updates of commissions status</a></li>
            <li><a href="#keep-in-touch">Keep in touch, see what's going on, join the party</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>

        <h1 id="introduction">Awoo!</h1>

        <div class="container py-4">
            <p>
                Welcome to a <strong>starting project</strong>. The ultimate goal is to make furries rule
                the world, but first things first, we need more fursuits, and this is what this website is
                about. The project is still considered in development and many features are planned to be
                implemented. Expect more in the future.
            </p>
        </div>

        <h1 id="data-updates">
            Include/update studio's data <small><span class="badge badge-warning">(makers love this!)</span></small>
        </h1>

        <div class="container py-4">
            <p>
                If you want your studio to be included in this list or some data to be updated (spelling of
                the name, links, types, anything), feel free to
                <a href="https://goo.gl/forms/6qoHxk8i2WsTKhjO2"{# TODO: reuse href #}>fill in this form</a>.
            </p>
        </div>

        <h2 id="commissions-status-tracking">
            Automatic tracking and updates of commissions status
        </h2>

        <div class="container py-4">
            <p>
                This website can track and update the status of commissions for your studio - if they're open or closed.
                You don't need to remember to update this information here at all! There are a few need-to-knows:
            </p>
            <ul>
                <li>You need to actually keep at least <strong>one other</strong> website with up-to-date status</li>
                <li>
                    This website needs to contain single and clear information if the commissions are open or not.
                    getfursu.it can't track if you are open for parts, but closed for fullsuits, etc. This needs
                    to be one, simple "we're open/closed"
                </li>
                <li>
                    Not all kinds of websites are supported (yet) - sorry!
                    <ul>
                        <li>Generic websites (including Wix.com) - should work</li>
                        <li>FurAffinity <strong>user profile and "pinned" journal entries</strong>
                            - yes, and recommended! <strong>anything else</strong> - nope</li>
                        <li>Twitter - yes, but <strong>only profile info</strong>; tweets - nope</li>
                        <li>Facebook - yes, but <strong>only pinned posts</strong>; overall discouraged</li>
                        <li>Trello - nope</li>
                    </ul>
                </li>
                <li>
                    Approximate delay between update on your website and status getting updated here is between
                    6-24 hours, but this is <strong>not guaranteed</strong> everyday
                </li>
                <li>Contact me for "inclusion" and guidance in case of any doubts/problems</li>
            </ul>
        </div>

        <h1 id="keep-in-touch">Keep in touch, see what's going on, join the party</h1>

        <div class="container py-4">
            <p class="text-center">
                <a href="https://t.me/joinchat/H7h5AxJnuF4CzJxhH79Qbw" class="btn btn-primary btn-lg my-1">
                    <i class="fab fa-telegram"></i> Telegram discussion group</a>
                <a href="https://t.me/getfursuit" class="btn btn-primary btn-lg my-1">
                    <i class="fab fa-telegram"></i> Telegram announcements channel</a>
            </p>
        </div>

        <h1 id="contact">Contact</h1>

        <div class="container py-4">
            <p class="text-center">
                <a href="https://www.facebook.com/veelkoov/" class="btn btn-primary btn-lg my-1">
                    <i class="fab fa-facebook"></i> Facebook</a>
                <a href="https://twitter.com/veelkoov" class="btn btn-primary btn-lg my-1">
                    <i class="fab fa-twitter"></i> Twitter</a>
                <a href="https://t.me/veelkoov" class="btn btn-primary btn-lg my-1">
                    <i class="fab fa-telegram"></i> Telegram</a>
            </p>
        </div>
    </div>
{% endblock %}
