{% extends 'base.html.twig' %}

{% block javascript %}
    <script src="general.js?ver={{ "now"|date("ymdHis") }}"></script>
{% endblock %}

{% block body %}
    {% include 'frontend/main_intro.html.twig' %}
    <div class="container text-center">
        <img src="{{ asset('images/website-banner-top.png') }}" class="img-fluid" alt="">
    </div>
    {% include 'frontend/main_filters.html.twig' %}
    {% include 'frontend/main_data_table.html.twig' %}
    <div class="container text-center">
        <img src="{{ asset('images/website-banner-bottom.png') }}" class="img-fluid" alt="">
    </div>
{% endblock %}
