<div class="row pb-3">
    <div class="col col-sm-4">
        <label for="countriesFilter">Choose fursuit makers' countries:</label>
        <select multiple="multiple" id="countriesFilter">
            <option></option>
            {% for country in countries %}
                <option>{{ country|lower }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col col-sm-4">
        <label for="typesFilter">Choose fursuit types offered by makers:</label>
        <select multiple="multiple" id="typesFilter">
            <option value="">Show unknown</option>
            {% for type in types %}
                <option>{{ type }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col col-sm-4">
        <label for="featuresFilter">Choose fursuit features offered by makers:</label>
        <select multiple="multiple" id="featuresFilter">
            <option value="">Show unknown</option>
            {% for feature in features %}
                <option>{{ feature }}</option>
            {% endfor %}
        </select>
    </div>
</div>
