<p><a href="#" class="what_link badge badge-primary">OwO what's this?</a></p>

<div id="what">
    <h1></h1>

    <p>
        Welcome to an <strong>incubating project</strong>. The ultimate goal is to make furries rule the world, but
        first things first, we need more fursuits, and this is what this website is about. Since this project is
        <strong>just starting</strong>, there is not much data here, nor functionalities. Hopefully this will change
        over time.
    </p>

    <h2>Are you a (future) fursuiter?</h2>

    <p>
        Could you please spare a few, up to several minutes, to fill a questionnaire?
        <a href="https://goo.gl/forms/XLKZkoVhPHjhx4nk2">Click here</a>. Thank you!
    </p>

    <h2>Are you a maker?</h2>

    <p>
        I need good advice. I do not sell, I don't really know, what <strong>you</strong> need. Any feedback will
        be much appreciated. You can have impact on data gathered and functionalities here. Do you have a little
        time? Just
        <a href="#contact">contact me</a>
        me! I'll start with sending you a questionnaire for makers. Don't worry, I bite only when really hungry.
    </p>

    <p><strong>If you want to be included in this list or your data to be updated</strong> (spelling of the name, links), feel free
        to <a href="#contact">contact
            me</a> as well!</p>

    <p>Also, thank you for creating more beauty!</p>

    <h2 id="contact">Contact me</h2>

    <p>
        <a href="https://www.facebook.com/veelkoov/" class="btn btn-primary btn-lg">
            <i class="fab fa-facebook"></i> Facebook</a>
        <a href="https://twitter.com/veelkoov" class="btn btn-primary btn-lg">
            <i class="fab fa-twitter"></i> Twitter</a>
        <a href="https://t.me/veelkoov" class="btn btn-primary btn-lg">
            <i class="fab fa-telegram"></i> Tereglam</a>
    </p>

    <p><a href="#" class="what_link badge badge-secondary">Hide this</a></p>
</div>