<table id="artisans" class="table table-striped table-sm table-hover text-center">
    <thead class="thead-dark">
    <tr>
        <th class="text-left">Name</th>
        <th class="hidden_data">Country</th>
        <th>Types</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody></tbody>
</table>
