<p><a href="#" class="what_link badge badge-primary">OwO what's this? Tell me more.</a></p>

<div id="what">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="hello-tab" data-toggle="tab" href="#hello" role="tab" aria-controls="hello"
               aria-selected="true">Hello!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="benefit-tab" data-toggle="tab" href="#benefit" role="tab" aria-controls="benefit"
               aria-selected="false">Benefit from the site</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="help-tab" data-toggle="tab" href="#help" role="tab" aria-controls="help"
               aria-selected="false">Help (a bit) <span class="badge badge-success">please :)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="data-tab" data-toggle="tab" href="#data" role="tab" aria-controls="data"
               aria-selected="false">Add/update data <span class="badge badge-warning">(makers love this!)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
               aria-selected="false">Contact</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="hello" role="tabpanel" aria-labelledby="hello-tab">
            <div class="container pt-4">
                <p>
                    Welcome to an <strong>incubating project</strong>. The ultimate goal is to make furries rule the
                    world, but first things first, we need more fursuits, and this is what this website is about. Since
                    this project is <strong>just starting</strong>, there is not much data here, nor functionalities.
                    Hopefully this will change over time.
                </p>
            </div>
        </div>
        <div class="tab-pane fade" id="benefit" role="tabpanel" aria-labelledby="benefit-tab">
            <div class="container pt-4">
                <div class="row">
                    <div class="col">
                        <h4>For (future) fursuiters</h4>

                        <ol>
                            <li>Find the best maker for you here</li>
                            <li>Profit</li>
                        </ol>
                    </div>
                    <div class="col">
                        <h4>For fursuit makers</h4>

                        <ol>
                            <li>Make sure your studio is listed here</li>
                            <li>Make sure your studio's data is up-to-date</li>
                            <li>Profit</li>
                        </ol>
                    </div>
                </div>

                <p>That wasn't hard, was it?</p>
            </div>
        </div>
        <div class="tab-pane fade" id="help" role="tabpanel" aria-labelledby="help-tab">
            <div class="container pt-4">
                <div class="row">
                    <div class="col">
                        <h4>For (future) fursuiters</h4>

                        <p>
                            Could you please spare a few, up to several minutes, to fill a questionnaire?
                            <a href="https://goo.gl/forms/XLKZkoVhPHjhx4nk2">Click here</a>. Thank you!
                        </p>
                    </div>
                    <div class="col">
                        <h4>For fursuit makers</h4>

                        <p>
                            I need good advice. I do not sell, I don't really know, what <strong>you</strong> need. Any
                            feedback will be much appreciated. You can have impact on data gathered and functionalities
                            here. Do you have a little time? Just contact me! I'll start with
                            sending you a questionnaire for makers. Don't worry, I bite only when really hungry.
                        </p>

                        <p>Also, thank you for creating more beauty!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="data" role="tabpanel" aria-labelledby="data-tab">
            <div class="container pt-4">
                <p>
                    If you want your studio to be included in this list or your data to be updated (spelling of the
                    name, links, anything), feel free to contact me! Or you can put comments directly in this
                    <a href="https://docs.google.com/spreadsheets/d/1zo7CmQHSO2IgMlgOrOmr-87TszPJD40RTh4DZWopUBM/edit?usp=sharing">spreadsheet</a>,
                    and I'll update the site soon (unfortunately, this process is not automated yet).
                </p>
            </div>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="container pt-4">
                <p>
                    <a href="https://www.facebook.com/veelkoov/" class="btn btn-primary btn-lg">
                        <i class="fab fa-facebook"></i> Facebook</a>
                    <a href="https://twitter.com/veelkoov" class="btn btn-primary btn-lg">
                        <i class="fab fa-twitter"></i> Twitter</a>
                    <a href="https://t.me/veelkoov" class="btn btn-primary btn-lg">
                        <i class="fab fa-telegram"></i> Tereglam</a>
                </p>
            </div>
        </div>
    </div>

    <p><a href="#" class="what_link badge badge-secondary">Hide this</a></p>
</div>
