<div class="alert alert-primary alert-dismissible fade show" role="alert">
    <h4>Fursuit makers database</h4>

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>

    <p>
        Welcome to the list of fursuit makers! Currently {{ artisans|length }} makers from {{ countryCount }}
        countries are listed here, and we're not done yet.
    </p>

    <p>
        Last update: {{ "now"|date('Y-m-d H:i') }} CEST.
    </p>
</div>
