{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm">
            <h1>Whoopsies!</h1>

            <h4>What am I even looking for?</h4>
            <p>
                Enjoy the typos and misnames. Below you can find selected phrases which people (and/or furries)
                searched in Google, and which caused getfursu.it to show up in the results. This list was generated
                from raports on 13th of January, 2019.
            </p>
            <ul>
                <li>furry costume</li>
                <li>fur suit</li>
                <li>furr suit / furrsuit</li>
                <li>furry suit / furrysuit</li>
                <li>furrie suit</li>
                <li>fur sute</li>
                <li>firsuit</li>
                <li>forsuit</li>
                <li>fursiut</li>
                <li>furstuit</li>
                <li>fursui</li>
                <li>fursuot</li>
                <li>fursut</li>
                <li>fursute</li>
                <li>futsuit</li>
            </ul>
        </div>
    </div>
{% endblock %}
