<div class="modal fade" id="updateRequestModal" tabindex="-1" aria-labelledby="updateRequestLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateRequestLabel">
                    Outdated/inaccurate information report:<br /> <span id="artisanNameUR"></span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include 'main/parts/update_request_contents.html.twig' with { 'id': 'updateRequestSingle' } %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
