<div class="container footer pb-5">
    <div class="row">
        <div class="col-sm">
            <div class="card border-primary bg-light mb-4">
                <div class="card-header">Privacy &amp; cookies</div>
                <div class="card-body">
                    <p class="card-text">
                        This website is using cookies (because this is how the Internet works, duh!)
                        for the purpose of anonymous statistics gathering. No personal data is being gathered or stored
                        (because I don't give a heck) and thus it's not shared. If you don't agree with these terms,
                        you must enable so called "incognito mode" in your web browser to use this website.
                    </p>
                </div>
            </div>

            <div class="card border-primary bg-light mb-4">
                <div class="card-header">License</div>
                <div class="card-body row">
                    <div class="col-auto pt-1">
                        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                            <img alt="Creative Commons License"
                                 src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"/>
                        </a>
                    </div>
                    <div class="col pl-0">
                        <p class="card-text">
                            Except where otherwise noted, all data&amp;information available on this website is licensed
                            under <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative
                                Commons Attribution-ShareAlike 4.0 International License</a>.
                            More information available <a href="{{ path('info') }}">here</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card border-primary bg-light mb-4">
                <div class="card-header">Thank you</div>
                <div class="card-body">
                    <p class="card-text">
                        This website would not exist without the amazing Free and Open Source Software Community,
                        who created i.a.:
                        <a href="https://getbootstrap.com/">Bootstrap</a>,
                        <a href="https://datatables.net/">DataTables</a>,
                        <a href="https://fontawesome.com/">Font Awesome</a>,
                        <a href="http://symfony.com/">Symfony</a>,
                        and much, much more.
                    </p>
                    <p class="cart-text">
                        Or maybe it would exist, but had been rolled out 4 years later,
                        while being completely unusable and absolutely ugly.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
