<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}GetFursu.it - list of fursuit makers. Find your maker!{% endblock %}</title>
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          href="//cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.2/b-colvis-1.5.2/cr-1.5.0/fc-3.2.5/fh-3.1.4/sc-1.5.0/datatables.min.css"/>

    <script>
        var DATA_UPDATES_URL = '{{ path('info', { _fragment: 'data-updates' }) }}';
        var TRACKING_URL = '{{ path('tracking') }}';
    </script>

    {% block stylesheets %}
        {{ encore_entry_link_tags('general') }}
    {% endblock %}

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    {% if app.environment == 'prod' %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120950547-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());
            gtag('config', 'UA-120950547-1');
        </script>
    {% endif %}
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span> <span aria-hidden="true">Menu</span>
        </button>

        {% set page = app.request.attributes.get('_route') %}

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% include 'menu_item.html.twig' with {'name': 'main', 'pretty_name': '<i class="fas fa-home"></i> Home' } %}
                {% include 'menu_item.html.twig' with {'name': 'info', 'pretty_name': '<i class="fas fa-question-circle"></i> Info' } %}
                {% include 'menu_item.html.twig' with {'name': 'tracking', 'pretty_name': '<i class="far fa-eye"></i> Tracking' } %}
                {% include 'menu_item.html.twig' with {'name': 'statistics', 'pretty_name': '<i class="fas fa-chart-pie"></i> Stats' } %}
                {% include 'menu_item.html.twig' with {'name': 'whoopsies', 'pretty_name': '<i class="fas fa-smile-wink"></i> Whoopsies' } %}
            </ul>
        </div>
    </nav>

    {% block body %}{% endblock %}

    <hr class="my-5" />

    {% include 'legal.html.twig' %}
</div>
<script src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.2/b-colvis-1.5.2/cr-1.5.0/fc-3.2.5/fh-3.1.4/sc-1.5.0/datatables.min.js"></script>
{% block javascripts %}
    {{ encore_entry_script_tags('general') }}
{% endblock %}
</body>
</html>
