<div class="container footer">
    <div class="row">
        <div class="col-sm">
            <div class="card border-primary bg-light my-2">
                <div class="card-header">Privacy</div>
                <div class="card-body">
                    <p class="card-text">
                        This website uses cookies (duh!) directly and indirectly (by 3rd party software and libraries),
                        for the purpose of anonymous statistics gathering. In the future this might get extended by
                        cookies used directly to improve website usability (e.g. for storing filter settings between
                        visits). No personal data is being gathered nor stored.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card border-primary bg-light my-2">
                <div class="card-header">Resources and libraries used by this website</div>
                <div class="card-body">
                    <ul class="card-text">
                        <li>
                            <a href="https://getbootstrap.com/">Bootstrap 4</a>, MIT license
                        </li>
                        <li>
                            <a href="https://datatables.net/">DataTables</a>, MIT license
                        </li>
                        <li>
                            <a href="https://github.com/lipis/flag-icon-css/commit/2a66fc2e1a048a4389117fe648b3957bd7029bdf">flag-icon-css</a>,
                            MIT license
                        </li>
                        <li>
                            <a href="https://fontawesome.com/">Font Awesome 5</a>, CC BY 4.0, SIL OFL 1.1 and MIT
                            licenses
                        </li>
                        <li>
                            <a href="http://symfony.com/">Symfony 4</a>, MIT license
                        </li>
                        <li>and their dependencies, indirectly</li>
                    </ul>
                    <p class="card-text">
                        <strong>Thank you for your contribution to the Free and Open Source Software! You rock!</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
