<h1>Guidelines for makers/studios</h1>

<p class="small">Last update: 2024-01-31</p>

<p>
    <strong>website/<wbr>social/<wbr>account(s)</strong> = your website(s) or social media account(s)/<wbr>profile(s) like DeviantArt/<wbr>Fur Affinity/<wbr>Facebook/<wbr>Instagram/<wbr>Twitter and others
    <br>
    <strong>user(s)</strong> = getfursu.it visitor(s), possibly browsing your information and navigating further to your <em>website/<wbr>social/<wbr>account</em>
</p>

<h5>1. Your <em>websites/<wbr>social/<wbr>accounts</em></h5>

<table class="table table-striped">
    <tr>
        <td class="small">A.</td>
        <td>One compliant <em>website/<wbr>social/<wbr>account</em> is a minimum</td>
        <td class="small text-muted"></td>
    </tr>
    <tr>
        <td class="small">B.</td>
        <td>Example fursuit work photos are required</td>
        <td class="small text-muted col-md-9">
            You need to have some photos of your past fursuit work creations on your <em>website/<wbr>social/<wbr>account</em>. Unfortunately, yet obviously, art like pictures, badges, etc., is not fursuit-related. You won't join getfursu.it to find funding for your first creations. Consider starting with your own fursuit or some pre-mades.
        </td>
    </tr>
    <tr>
        <td class="small">C.</td>
        <td>Provide a convenient way of contact</td>
        <td class="small text-muted">
            <em>Users</em> should be able to easily find a convenient way to contact you on your <em>website/<wbr>social/<wbr>account</em>. Also, it is not OK to force someone to register in any service to send you a message.
        </td>
    </tr>
    <tr>
        <td class="small">D.</td>
        <td>No registration requirement</td>
        <td class="small text-muted"><em>Websites/<wbr>social/<wbr>accounts</em> should not require <em>users</em> to be logged in to view your content. This applies to e.g. Fur Affinity, assuming you configured your user page that way. A prompt encouraging to register is just annoying, but a "login or register" screen is unacceptable.</td>
    </tr>
    <tr>
        <td class="small">E.</td>
        <td>No "work in progress" <em>websites/<wbr>social/<wbr>accounts</em></td>
        <td class="small text-muted">Websites missing content, showing example pages, sample texts, etc. are not accepted. Some clients treat website-having makers as preferable and/or trustworthy. However, if you do not have a website yet, you'd better make sure you have some nice portfolio on DeviantArt/<wbr>Fur Affinity/<wbr>social first. You can fit any information, FAQ, TOS, and other stuff there as well. Creating a website is time-consuming and/or expensive. It's better to not have a website, than having one raising doubts/eyebrows.</td>
    </tr>
</table>

<h5>2. Your information on getfursu.it</h5>

<table class="table table-striped">
    <tr>
        <td class="small">A.</td>
        <td>(simple) English only, not even bilingual</td>
        <td class="small text-muted col-md-9">Your <em>website/<wbr>social/<wbr>account</em> doesn't have to be in English. However, all information here must be. If you don't speak English, please ask someone for help with translation and make sure to clearly state that you don't speak English in the dedicated section of the inclusion/<wbr>update form.</td>
    </tr>
    <tr>
        <td class="small">B.</td>
        <td>No plain contact info here</td>
        <td class="small text-muted">
            E-mail address, phone number, Telegram, Messenger, Discord, Skype, etc. - such info belongs to your <em>website/<wbr>social/<wbr>account</em>, and may (probably will) be removed from your submission.
        </td>
    </tr>
    <tr>
        <td class="small">C.</td>
        <td>Don't mention other studios/<wbr>makers</td>
        <td class="small text-muted">You cannot e.g. claim to be friends with someone or (have) work(ed) for someone. Not even a shout-out. Such statements may get removed or your whole submission may get rejected.</td>
    </tr>
    <tr>
        <td class="small">D.</td>
        <td>Photos must show exclusively your creations</td>
        <td class="small text-muted">You must not submit photos on which fursuits or other stuff created by others can be seen, e.g. taken during a convention. This is confusing to <em>users</em>.</td>
    </tr>
</table>

<h5>3. General</h5>

<table class="table table-striped">
    <tr>
        <td class="small">A.</td>
        <td>Use common sense and be fair</td>
        <td class="small text-muted col-md-9">
            This list of rules deliberately skips stuff covered by common sense. For example, it should be obvious that you must not provide any false or misleading information or claim somebody else's work.
        </td>
    </tr>
    <tr>
        <td class="small">B.</td>
        <td>Guidelines may change</td>
        <td class="small text-muted">
            These guidelines are not perfect and will change over time whenever doing so will bring more pros than cons. I may contact you, asking to correct your data to comply with the updated guidelines.
            <br>
            <br>
            History of changes can be checked in git. I can assist you in using it if you don't know how.
        </td>
    </tr>
</table>
