<h1>Rules for makers/studios</h1>

<h5>Terminology</h5>

<ul>
    <li><em>FA</em> - Fur Affinity</li>
    <li><em>DA</em> - DeviantArt</li>
    <li>
        <em>website/profile/account</em> - your website(s) or social media account(s)/profile(s) like DA/FA/Facebook/Twitter and others
    </li>
</ul>

<h5>Rules</h5>

<ul>
    <li>
        Example photos of your fursuit work are required on your <em>website/profile/account</em>.
        <button class="btn btn-sm btn-info" data-bs-toggle="collapse" data-bs-target="#rule-pf">More info</button>

        <div class="alert alert-info mt-1 collapse" role="alert" id="rule-pf">
            Consider your own fursuit or starting up with some pre-mades. Unfortunately, yet obviously, art like pictures, badges, etc., are not fursuit-related.
        </div>
    </li>

    <li>
        At least one rules-compliant <em>website/profile/account</em> is required for your studio to be listed.
    </li>

    <li>
        No "open"/instant messaging contact info is allowed (e.g. e-mail address, Telegram, Messenger, Discord, Skype, etc.).
        <button class="btn btn-sm btn-info" data-bs-toggle="collapse" data-bs-target="#rule-im">More info</button>

        <div class="alert alert-info mt-1 collapse" role="alert" id="rule-im">
            Such info belongs to your <em>website/profile/account</em>, and may (probably will) be removed from your submission.
        </div>
    </li>

    <li>
        <em>Websites/profiles/accounts</em> should not require your visitor to be logged in (this <strong>includes</strong> <em>FA</em>, assuming you configured your user page that way).
        <button class="btn btn-sm btn-info" data-bs-toggle="collapse" data-bs-target="#rule-nl">More info</button>

        <div class="alert alert-info mt-1 collapse" role="alert" id="rule-nl">
            A prompt encouraging to register is just annoying, but a "login or register" screen is unacceptable.
        </div>
    </li>

    <li>
        "Work in progress" websites (e.g websites missing most content, showing example pages, sample texts) are not accepted.
        <button class="btn btn-sm btn-info" data-bs-toggle="collapse" data-bs-target="#rule-wip">More info</button>

        <div class="alert alert-info mt-1 collapse" role="alert" id="rule-wip">
            Some clients treat website-having makers as preferable and/or trustworthy. However, if you do not have a website yet, you'd better make sure you have some nice portfolio on <em>DA</em>/<em>FA</em>/social first. You can fit any information, FAQ, TOS, and other stuff there as well. Creating a website is time-consuming and/or expensive. It's better to not have a website, than having one raising doubts/eyebrows.
        </div>
    </li>
    <li>
        All information submitted to getfursu.it must be in (simple) English only (bilingual is not allowed as well).
        <button class="btn btn-sm btn-info" data-bs-toggle="collapse" data-bs-target="#rule-en">More info</button>

        <div class="alert alert-info mt-1 collapse" role="alert" id="rule-en">
            Your <em>website/profile/account</em> doesn't have to be in English. However, all information here must be. If you don't speak English, please ask someone for help with translation and make sure to clearly state that you don't speak English in the dedicated section of the inclusion/update form.
        </div>
    </li>
    <li>
        This list of rules deliberately skips stuff covered by common sense.
        <button class="btn btn-sm btn-info" data-bs-toggle="collapse" data-bs-target="#rule-cs">More info</button>

        <div class="alert alert-info mt-1 collapse" role="alert" id="rule-cs">
            For example, it should be obvious that you must not provide any false or misleading information or claim somebody else's work.
        </div>
    </li>
    <li>
        This ruleset is not final. History of changes can be found below.
    </li>
</ul>

<h6>History of changes</h6>

<p>
    <button class="btn btn-outline-success btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#rulesChangelog" aria-expanded="false" aria-controls="rulesChangelog">
        Toggle display
    </button>
</p>

<ul class="collapse" id="rulesChangelog">
    <li>
        <a href="https://github.com/veelkoov/fuzzrake/commit/8210f93bc3fb4651f0647c6121dbf6ca9ff12b85" target="_blank">2022-02-20</a>
        Since age of the makers is now displayed, minors are no longer required to inform about their age on their websites.
    </li>
    <li>
        <a href="https://github.com/veelkoov/fuzzrake/commit/d4af7dced945032d11742b3b8ef5c9ea7a65b649" target="_blank">2022-01-01</a>
        Provide history of changes in text below the rules.
    </li>
    <li>
        <a href="https://github.com/veelkoov/fuzzrake/commit/3d0739b76755f8f4b3f856ef25364b52af7c896b" target="_blank">2021-08-12</a>
        More precise requirements: you need examples of <strong>fursuit</strong> work.
    </li>
    <li>
        <a href="https://github.com/veelkoov/fuzzrake/commit/af191e8e078450691206de98f173a5e0f8ef33d2" target="_blank">2021-08-12</a>
        Move FA and DA definitions on top, as they are used in the other definition.
    </li>
    <li>
        <a href="https://github.com/veelkoov/fuzzrake/commit/e1d82e7558823dffee42fa8a83d3c38f8c37365d" target="_blank">2021-05-08</a>
        Rephrased; added glossary.
    </li>
    <li>
        <a href="https://github.com/veelkoov/fuzzrake/commit/2eb22bbcf6c3d45d6287ba02ad1a108644477a51" target="_blank">2021-01-01</a>
        First published revision.
    </li>
</ul>
