[defaults]
any_errors_fatal = True
callback_result_format = yaml
interpreter_python = auto_silent
inventory = inventory.ini
max_diff_size = 1048576
nocows = True

[inventory]
any_unparsed_is_failed = True

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=90s
