<div class="card bg-light mb-3">
    <div class="card-body" id="checklist-container">
        <h5 class="card-title">
            <strong class="text-danger">Don't get scammed!</strong>
        </h5>

        <p class="card-text">
            This tool serves for finding a maker/<wbr>studio which will best match your expectations.
            It can save you some time searching. What it can't do for you
            - <strong>which means you must do that yourself</strong> - is to verify the legitimacy
            of the maker/<wbr>studio you want to commission.
        </p>

        <p class="card-text">
            The <a href="{{ path('should_know') }}">What you should know</a> page contains some helpful information,
            tips, and links to external resources. It includes a <em>Learn about <strong>the risk</strong></em>
            <!-- grep-learn-about-the-risk --> section.
            <br>

            <span class="small">
                <strong class="text-danger">You will most probably not get your fursuit in the next weeks, so reading a bit will not hurt.</strong> Slow down.
            </span>
        </p>

        <div class="card-text">
            <div class="form-check">
                <input id="checklist-ill-be-careful" class="form-check-input" type="checkbox">

                <label class="form-check-label" for="checklist-ill-be-careful">
                    I understand the risk and know where to look for more information
                </label>
            </div>
        </div>

        <div id="checklist-age-section" class="card-text">
            <hr>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-check">
                        <input class="form-check-input" id="aasImNotAdult" name="checklist-is-adult" type="radio" value="0">

                        <label class="form-check-label" for="aasImNotAdult">
                            I am under 18 years old. <small class="text-muted">I am looking for a maker who accepts
                                commissions from underage people.</small>
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-check">
                        <input class="form-check-input" id="aasImAdult" name="checklist-is-adult" type="radio" value="1">

                        <label class="form-check-label" for="aasImAdult">
                            I am at least 18 years old. <small class="text-muted">Yes, lying about my age would be a
                                stupid idea and could get me banned from commissioning my beloved fursuit maker,
                                ever.</small>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div id="checklist-nsfw-section" class="card-text">
            <hr>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-check">
                        <input class="form-check-input" id="aasKeepSfw" name="checklist-wants-sfw" type="radio" value="1">

                        <label class="form-check-label" for="aasKeepSfw">
                            I prefer makers with "family-friendly" websites and social media.
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-check">
                        <input class="form-check-input" id="aasAllowNsfw" name="checklist-wants-sfw" type="radio" value="0">

                        <label class="form-check-label" for="aasAllowNsfw">
                            I don't mind running occasionally into NSFW stuff.
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <p class="card-text text-end">
            <input class="btn btn-primary" id="checklist-dismiss-btn" type="button">
        </p>
    </div>
</div>
