{% from 'main/shared_macros.html.twig' import card_open_attrs %}

<div hx-trigger="click from:#checklist-dismiss-btn"
     hx-on::before-request="jQuery('#checklist-container').addClass('d-none');"
     hx-on::after-request="jQuery('#main-primary-content').removeClass('d-none');"

     hx-get="{{ path('htmx_main_primary_content') }}"
     hx-include="#checklist-container, #filters-modal-body, #search-text-field"
     hx-target="#creators-table-body"
></div>

<div hx-trigger="hidden.bs.modal from:#filters-modal"

     hx-get="{{ path('htmx_main_primary_content') }}"
     hx-include="#checklist-container, #filters-modal-body, #search-text-field"
     hx-target="#creators-table-body"
></div>

<div hx-trigger="input from:#search-text-field changed delay:500ms"

     hx-get="{{ path('htmx_main_primary_content') }}"
     hx-include="#checklist-container, #filters-modal-body, #search-text-field"
     hx-target="#creators-table-body"
></div>

<div id="open-creator-card-given-creator-id-anchor" {{ card_open_attrs('_______') }}></div>
