<div class="card border-dark mb-3">
    <div class="card-body">
        <p class="card-text p-0 m-0 float-start">
            This is {% if is_update %}an update request for an existing maker{% else %}a request to add new maker{% endif %}. You began filling the form on {{ session_start_time|fragile_datetime_utc }}.
        </p>

        <p class="card-text text-end p-0 m-0 float-end">
            {{ form_widget(form.reset) }}
        </p>
    </div>
</div>
