{% set noindex = true %}
{% extends '_base.html.twig' %}

{% block title %}error 482{% endblock -%}

{% block body %}
    <div class="card border-warning mt-5">
        <div class="card-header">Booo!... Something went wrong</div>

        <div class="card-body">
            <h5 class="card-title">Error 482</h5>

            <p class="card-text">
                <a href="https://www.youtube.com/watch?v=nxXrYOnFLEk&t=375s" target="_blank">
                    Somebody shot the server with a 12-gauge. Please contact your administrator.
                </a>
            </p>

            <hr>

            <p class="card-text">
                No, but seriously, something went wrong. Sorry for the inconvenience! If this repeats,
                notifying the administration may help.
            </p>
        </div>
    </div>
{% endblock %}
