{% set noindex = true %}
{% extends '_base.html.twig' %}

{% block title %}error {{ status_code }}{% endblock -%}

{% block body %}
    <div class="card border-warning mt-5">
        <div class="card-header">Booo!... Something went wrong</div>

        <div class="card-body">
            <h5 class="card-title">Error {{ status_code }}</h5>

            <p class="card-text">
                You lack permissions to access the requested page/address.
            </p>
        </div>
    </div>
{% endblock %}
