<div class="modal fade" id="artisanDetailsModal" tabindex="-1" role="dialog" aria-labelledby="artisanName"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <a id="makerId" href="#"></a> <span id="artisanName">Chill down, validator</span>
                    <small id="artisanShortInfo"></small>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row px-4 py-2">
                <div class="col-sm-12 p-1">
                    <p class="lead" id="artisanIntro"></p>
                </div>
                <div class="col-sm-4 p-1">
                    <h5>Produces</h5>
                    <div class="small pb-2" id="artisanProductionModel"></div>
                    <h5>Styles</h5>
                    <div class="small" id="artisanStyles"></div>
                </div>
                <div class="col-sm-4 p-1">
                    <h5>Types</h5>
                    <div class="small" id="artisanTypes"></div>
                </div>
                <div class="col-sm-4 p-1">
                    <h5>Features</h5>
                    <div class="small" id="artisanFeatures"></div>
                </div>
                <div class="col-sm-6 py-1 px-2">
                    <h5>Species</h5>
                    <div class="small" id="artisanSpecies"></div>
                </div>
                <div class="col-sm-6 py-1 px-2">
                    <h5>Payment plans</h5>
                    <div class="small" id="artisanPaymentPlans"></div>
                </div>
                <div class="col-sm-12 p-1">
                    <h5>Links</h5>
                    <div id="artisanLinks"></div>
                </div>
                <div class="row p-1">
                    <div class="col-sm">
                        <h5>Commissions status</h5>
                        <div class="small" id="artisanCommissionsStatus"></div>
                    </div>
                    <div class="col-sm-4" id="statusParsingFailed">
                        <a href="https://www.furaffinity.net/view/28682113/" aria-hidden="true" class="art-link">
                            <img src="{{ asset('images/parsing_failed.png') }}" class="img-fluid" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 p-1 pt-3">
                    <h5>Data incomplete/inaccurate/outdated?</h5>
                    <p class="small">This maker/studio has <span id="artisanCompleteness"></span>% data completeness. <span id="artisanCompletenessComment"></span></p>
                    {% include 'frontend/main/_update_request_contents.html.twig' with { 'id': 'updateRequestFull' }%}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
