<div class="accordion" id="filtersAccordion">
    <div class="card">
        <div class="card-header collapsed" id="headingOne" data-toggle="collapse" data-target="#countriesFilter"
             aria-expanded="false" aria-controls="countriesFilter">
            Countries
        </div>

        <div id="countriesFilter" class="collapse" aria-labelledby="headingOne" data-parent="#filtersAccordion">
            <div class="card-body">
                {% include 'frontend/main/_filter_countries.html.twig' %}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header collapsed" id="headingTwo" data-toggle="collapse" data-target="#stylesFilter"
             aria-expanded="false" aria-controls="stylesFilter">
            Styles
        </div>
        <div id="stylesFilter" class="collapse" aria-labelledby="headingTwo" data-parent="#filtersAccordion">
            <div class="card-body">
                {% include 'frontend/main/_filter_multiselect.html.twig' with { itemName: 'style', items: styles } %}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header collapsed" id="headingThree" data-toggle="collapse" data-target="#featuresFilter"
             aria-expanded="false" aria-controls="featuresFilter">
            Features
        </div>
        <div id="featuresFilter" class="collapse" aria-labelledby="headingThree" data-parent="#filtersAccordion">
            <div class="card-body">
                {% include 'frontend/main/_filter_multiselect.html.twig' with { itemName: 'feature', items: features } %}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header collapsed" id="headingThree" data-toggle="collapse" data-target="#orderTypesFilter"
             aria-expanded="false" aria-controls="orderTypesFilter">
            Order types
        </div>
        <div id="orderTypesFilter" class="collapse" aria-labelledby="headingThree" data-parent="#filtersAccordion">
            <div class="card-body">
                {% include 'frontend/main/_filter_multiselect.html.twig' with { itemName: 'orderType', items: orderTypes } %}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header collapsed" id="headingThree" data-toggle="collapse" data-target="#productionModelsFilter"
             aria-expanded="false" aria-controls="productionModelsFilter">
            Production models
        </div>
        <div id="productionModelsFilter" class="collapse" aria-labelledby="headingThree" data-parent="#filtersAccordion">
            <div class="card-body">
                {% include 'frontend/main/_filter_multiselect.html.twig' with { itemName: 'productionModel', items: productionModels, hideOther: true } %}
            </div>
        </div>
    </div>
</div>
