<div id="{{ id }}">
    <p>
        <strong>If you are the maker - please</strong>
        <a href="" class="googleFormUrl">fill this form</a>.
    </p>
    <p>
        Otherwise you can <a href="" class="twitterUrl">request update via Twitter</a>
        (this requires a Twitter account),
        <a href="{{ data_form_url }}">submit request through Google form</a>, or
        <a href="{{ path('info') }}#keep-in-touch">contact this website's maintainer</a>.
    </p>
</div>
