{% extends 'base.html.twig' %}

{% block javascript %}
    <script src="{{ path('main.js') }}?ver={{ "now"|date("ymdHis") }}"></script>
{% endblock %}

{% block body %}
    {% include 'frontend/main/_intro.html.twig' %}
    {% include 'frontend/main/_filters.html.twig' %}
    {% include 'frontend/main/_artisan_modal.html.twig' %}
    {% include 'frontend/main/_data_table.html.twig' %}
    <div class="container text-center">
        <a href="https://www.furaffinity.net/view/28153811/">
            <img src="{{ asset('images/website-banner-bottom.png') }}" class="img-fluid" alt="">
        </a>
    </div>
{% endblock %}
