{% extends '_base.html.twig' %}

{% block title %}password reset email sent{% endblock %}

{% block body %}
    <h1 class="my-4">Password reset email sent</h1>

    <p>
        If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
        This link will expire in {{ reset_token.expirationMessageKey|trans(reset_token.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>
        If you don't receive an email please check your spam folder,
        or wait 10 minutes {# grep-code-throttle-password-reset #} and
        <a href="{{ path('user_password_reset_request') }}">try again</a>.
    </p>
{% endblock %}
