---
- name: 'Execute: composer install'
  ansible.builtin.command: 'docker exec -ti {{ php_fpm_container_name | quote }} composer install --no-dev'
  register:     'cmd_out'
  changed_when: '"Nothing to install, update or remove" not in cmd_out.stdout'

- name: 'Execute: yarn install'
  ansible.builtin.command: 'yarn --cache-folder {{ yarn_cache_dirpath | quote }} install --prod'
  args:
    chdir: '{{ deployment_path }}'
  register:     'cmd_out'
  changed_when: '"success Already up-to-date." not in cmd_out.stdout'

- name: 'Execute: yarn encore production'
  ansible.builtin.command: 'yarn --cache-folder {{ yarn_cache_dirpath | quote }} encore production'
  args:
    chdir: '{{ deployment_path }}'
  changed_when: 'not ansible_check_mode' # TODO: Make it real (if possible)
