---
- name: 'Update files'
  ansible.builtin.import_tasks: 'update_files.yaml'
  tags: 'files'

- name: 'Setup Docker container'
  ansible.builtin.import_tasks: 'setup_docker_container.yaml'
  tags: 'docker'

- name: 'Setup Apache virtual host'
  ansible.builtin.import_tasks: 'setup_apache_vhost.yaml'
  tags: 'vhost'

- name: 'Clear cache'
  ansible.builtin.import_tasks: 'clear_cache.yaml'
  tags: 'cache'

- name: 'Build/install/compile'
  ansible.builtin.import_tasks: 'build.yaml'
  tags: 'build'

- name: 'Setup cronjobs'
  when: 'setup_cronjobs | default(false)'
  ansible.builtin.import_tasks: 'setup_cronjobs.yaml'
  tags: 'cronjobs'
