---
- name: "Build PHP-FPM Docker image"
  community.docker.docker_image:
    build:
      path: "{{ deployment_path }}/docker/php-fpm"
      pull: true
    force_source: true
    name: "{{ environment_php_fpm_docker_image_name }}"
    source: "build"
    state: "present"
  run_once: true # This obviously will fail if envs were on separate machines

- name: "Setup PHP-FPM Docker container"
  community.docker.docker_container:
    container_default_behavior: "no_defaults"
    image: "{{ environment_php_fpm_docker_image_name }}"
    name: "{{ php_fpm_container_name }}"
    published_ports: "127.0.0.1:{{ php_fpm_container_port }}:9000"
    restart_policy: "unless-stopped"
    user: "root:root"
    volumes:
      - "{{ deployment_path }}:/var/www/html"
