---
- name: 'Build PHP-FPM Docker image'
  community.docker.docker_image:
    build:
      path: '{{ frontend_deployment_path }}/docker/php-fpm'
      pull: true
    force_source: true
    name:   '{{ php_fpm_docker_image_name }}'
    source: 'build'
    state:  'present'
  run_once: true # This obviously will fail if envs were on separate machines

- name: 'Setup PHP-FPM Docker container'
  community.docker.docker_container:
    container_default_behavior: 'no_defaults'
    image: '{{ php_fpm_docker_image_name }}'
    name:  '{{ php_fpm_container_name }}'
    published_ports: '{{ php_fpm_container_port }}:9000'
    restart_policy:  'unless-stopped'
    user: 'root:root'
    volumes:
      - '{{ frontend_deployment_path }}/symfony:/var/www/html'
