{% extends '_base.html.twig' %}

{% block title %}feedback submitted{% endblock %}

{% block body %}
    <h1>Feedback submitted</h1>

    <div class="alert alert-success m-5" role="alert">
        Feedback has been successfully submitted. Thank you!
    </div>
{% endblock %}
