---
database_path:            '{{ frontend_deployment_path }}/symfony/var/db.sqlite'  # grep-code-database-path
snapshots_store_dir_path: '{{ frontend_deployment_path }}/symfony/var/snapshots'  # grep-code-snapshots-dir-path
