[Unit]
Description={{ server_name }} messenger:consume

[Service]
ExecStart=docker exec {{ php_fpm_container_name | quote }} bin/console messenger:consume async-msg-queue --sleep=5 --limit=10 --memory-limit=256M
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
