#!/usr/bin/env bash

set -euo pipefail

date -u

docker exec fuzzrake-prod bin/console app:status-tracker:run --refetch --commit
docker exec fuzzrake-prod bin/console cache:clear
docker exec fuzzrake-prod bin/console cache:warmup
curl -o /dev/null -s https://getfursu.it/

date -u
